<div class="modal show" id="printAddendumModal">
  <div class="modal-dialog modal-print-memo">
    <div class="modal-content ">
      <div class="modal-header modal-heading">
        <div>
          <button type="button" mat-raised-button color="primary" (click)="print()"
            class="complete-form-submit ml-2 mb-2">PRINT</button>
          <button *ngIf="addendum.attachment.length > 0" mat-raised-button color="" type="button" (click)="download()"
            class="print-submit-btn white-btn ml-2">DOWNLOAD ALL ATTACHMENTS</button>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <section id="dvContents" class="general-form px-3 pb-4">
        <div class="page-header">
          Addendum {{addendumId}}
          <div class="float-right">Status:
            {{ addendum.adStatus == 'Submitted' && !(userRole == 'Standard') ? 'Needs Pickup' :  addendum.adStatus }}
          </div>
        </div>
        <div class="page-footer">
          Exported on: {{ today | date : 'MM/dd/yyyy' }}
          <div class="float-right">
            <span id="pageFooter" class="page-counter">
            </span>
          </div>
        </div>
        <table #table id="tableContent" style="width: 100%;">
          <thead>
            <tr>
              <td>
                <!--place holder for the fixed-position header-->
                <h6 class="page-header-space"></h6>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="print-wrapper">
                  <div class="print-header">
                    <h1>Addendum for {{addendum.contractorCompanyName}} on {{addendum.catalog}} from {{addendum.from}}
                    </h1>
                    <div>Addendum {{addendum.adID}}</div>
                  </div>
                  <div class="information-group">
                    <h2 class="text-uppercase">GENERAL INFORMATION</h2>
                    <div>Assigned To </div>
                    <div class="text-dark">{{addendum.assignedUser ? addendum.assignedUser :  '_ _'  }}</div>
                    <div>In CC</div>
                    <div class="text-dark">
                      <div *ngIf="!(addendum.mailList && addendum.mailList.length > 0)" class="font-14">
                        _ _
                      </div>
                      <div *ngIf="addendum.mailList && addendum.mailList.length > 0" class="font-14">
                        <span *ngFor="let p of addendum.mailList;let i = index"> {{p.email}}<span
                            *ngIf="i < (addendum.mailList.length - 1)">,</span></span>
                      </div>
                    </div>
                    <div>Project Memo</div>
                    <div class="text-dark">
                      {{ addendum.contractorCompanyName }}
                      on {{ addendum.catalog }}
                      from {{ addendum.from }}
                      (#{{ addendum.parentProjectMemo }})
                      {{ addendum.projectCreatedAt | date : 'MM/dd/yy' }}
                    </div>
                    <div>Counterparties to Original Agreement</div>
                    <div class="text-dark">{{addendum.counterparties ? addendum.counterparties : '_ _'}}</div>
                    <div>Responsible Party</div>
                    <div class="text-dark">{{addendum.responsibleParty ? addendum.responsibleParty : '_ _'}}</div>
                    <h2>Changes to Existing Agreement and/or Additional Terms</h2>
                    <div>Description of Changes and/or Additional Terms</div>
                    <div class="text-dark">
                      {{addendum.changes ? addendum.changes : '_ _'}}
                    </div>
                    <div>Reason(s) for Changes</div>
                    <div class="text-dark">{{ addendum.reasons ? addendum.reasons : '_ _' }}</div>
                    <div>Attachments</div>
                    <div *ngFor="let p of addendum.attachment" class="text-dark mb-0">
                      {{p.file}}
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <!--place holder for the fixed-position footer-->
                <div class="page-footer-space"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </section>
    </div>
  </div>
  <div id="myprintDiv" class="d-none"></div>
</div>


<!-- 
<div *ngIf="false" class="">
  <section class="pl-3 pl-sm-3 pl-3 pl-md-5 pl-lg-5">
    <div class="padding-details-lg">
      <div *ngIf="addendum.contractorCompanyName && addendum.catalog && addendum.from"
        class="main-heading font-weight-300">
        Addendum for {{addendum.contractorCompanyName}} on {{addendum.catalog}} from {{addendum.from}}
      </div>
      <div *ngIf="!(addendum.contractorCompanyName && addendum.catalog && addendum.from)"
        class="main-heading font-weight-300">
        Addendum {{addendum.adID}}
      </div>
      <div class="light-black font-14">{{addendum.adID}}</div>
    </div>
    <section>
      <div class="pb-1">
        <div class="heading-5 padding-details-md font-weight-500">
          GENERAL INFORMATION
        </div>
        <div class="padding-details-sm">
          <div class="light-black font-15">
            Assigned To
          </div>
          <div class="font-14">
            {{addendum.assignedUser ? addendum.assignedUser :  '_ _'  }}
          </div>
        </div>
        <div class="padding-details-sm">
          <div class="light-black font-15">
            In CC
          </div>
          <div *ngIf="!(addendum.mailList && addendum.mailList.length > 0)" class="font-14">
            _ _
          </div>
          <div *ngIf="addendum.mailList && addendum.mailList.length > 0" class="font-14">
            <span *ngFor="let p of addendum.mailList;let i = index"> {{p.email}}<span
                *ngIf="i < (addendum.mailList.length - 1)">,</span></span>
          </div>
        </div>
        <div class="padding-details-sm">
          <div class="light-black font-15">
            Project Memo
          </div>
          <div class="font-14">
            {{ addendum.contractorCompanyName }}
            on {{ addendum.catalog }}
            from {{ addendum.from }}
            (#{{ addendum.parentProjectMemo }})
            {{ addendum.projectCreatedAt | date : 'MM/dd/yy'}}
          </div>
        </div>
        <div class="padding-details-sm">
          <div class="light-black font-15">
            Counterparties to Original Agreement
          </div>
          <div class="font-14">
            {{addendum.counterparties ? addendum.counterparties : '_ _'}}
          </div>
        </div>
        <div class="padding-details-sm">
          <div class="light-black font-15">
            Responsible Party
          </div>
          <div class="font-14">
            {{addendum.responsibleParty ? addendum.responsibleParty : '_ _'}}
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="pb-1">
        <div class="heading-5 padding-details-md font-weight-500">
          Changes to Existing Agreement and/or Additional Terms
        </div>
        <div class="padding-details-sm">
          <div class="light-black font-15">
            Description of Changes and/or Additional Terms
          </div>
          <div class="font-14">
            {{addendum.changes ? addendum.changes : '_ _'}}
          </div>
        </div>
        <div class="padding-details-sm">
          <div class="light-black font-15">
            Reason(s) for Changes
          </div>
          <div class="font-14">
            {{ addendum.reasons ? addendum.reasons : '_ _' }}
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="pb-1">
        <div class="padding-details-sm">
          <div class="light-black font-15">
            Attachments
          </div>
          <div *ngFor="let p of addendum.attachment" class="font-14">
            {{p.file}}
          </div>
        </div>
      </div>
    </section>
  </section>
</div> -->