<form class="form-own" #f="ngForm" autocomplete="off" novalidate>
  <fieldset [disabled]="formDisabled">
    <section class="dashboard-section">
      <nav class="navbar-bottam">
        <div class="container-own">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md">
              <p class="light-gray">
                Status: <span class="text-white pl-1 cursor">
                  {{addendum.adStatus == 'Submitted' && !(userRole == 'Standard') ? 'Needs Pickup' :  addendum.adStatus }}
                </span>
              </p>
            </div>
            <div class="print-memo-submit col-auto">
              <div class="light-gray print-memo-change">
                <div *ngIf="savingProgress" class="px-1">Saving...</div>
                <div *ngIf="!(isFormDirty || isUploadIncomplete) && !savingProgress" class="px-1">All Changes Saved</div>
                <div *ngIf="!savingProgress && (isFormDirty || isUploadIncomplete)" class="px-1">Saving</div>
                <div (click)="print()" class="px-3">
                  <img src="../assets/images/print-icon.png" class="cursor print-img">
                </div>
                <div *ngIf="userRole == 'Standard'" class="pl-1">
                  <span (click)="(f.submitted = true); submit()">
                    <button *ngIf="addendum.adStatus == 'Draft'" type="button" mat-raised-button color="primary"
                      class="bg-color print-submit-btn">Submit</button>
                  </span>
                  <button *ngIf="addendum.adStatus == 'Submitted' || addendum.adStatus == 'Assigned'" type="button"
                    mat-raised-button color="primary" disabled class="bg-color print-submit-btn">Submitted</button>
                  <button *ngIf="addendum.adStatus == 'Accepted'" disabled type="button" mat-raised-button
                    color="primary" class="bg-color print-submit-btn">Accepted</button>
                </div>
                <div *ngIf="userRole !== 'Standard'" class="pl-1">
                  <button disabled *ngIf="addendum.adStatus == 'Draft'" type="button" mat-raised-button color="primary"
                    class="bg-color print-submit-btn">Submit</button>
                  <button *ngIf="addendum.adStatus == 'Submitted' || addendum.adStatus == 'Assigned'" type="button"
                    mat-raised-button color="primary" class="bg-color print-submit-btn"
                    (click)="(f.submitted = true); submit()">Submit</button>
                  <button disabled *ngIf="addendum.adStatus == 'Accepted'" type="button" mat-raised-button
                    color="primary" class="bg-color print-submit-btn">Accepted</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </section>
    <div id="mydashboard" class="dashboard-section">
      <div class="container-own own-dashboard-section">
        <section class="general-form ">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="heading-5 font-weight-500">GENERAL INFORMATION</h5>
            <h5 class="heading-5 font-weight-500">{{addendum.adID}}</h5>
          </div>
          <div class="pt-3">
            <!-- Assigned To    -->
            <div class="form-group" [ngClass]="{'active': id === 1,
                          'error':!(formDisabled || userRole === 'Standard') && (f.submitted || assignTo.touched) && !assignTo.valid,
                          'disabled': formDisabled || userRole === 'Standard' || addendum.adStatus === 'Draft' }"
              id="1">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="sign-input-2" floatLabel="always">
                    <mat-label>Assigned To</mat-label>
                    <!-- <mat-select [(ngModel)]="addendum.assignedTo"
                      [disabled]="formDisabled || userRole === 'Standard' || addendum.adStatus === 'Draft'"
                      name="assignedTo" #assignTo="ngModel" disableRipple placeholder="_ _" (focus)="focus(1)"
                      (blur)="blur()" (selectionChange)="selectionChanged()" required>
                      <mat-option *ngFor="let user of Users" [value]="user.uniqueid">{{user.firstName}}
                        {{user.lastName}}
                      </mat-option>
                    </mat-select> -->
                    <input type="text" placeholder="" (focus)="focus(1,undefiend)" (blur)="blur()" name="contractorCompanyName"
                      [disabled]="formDisabled || userRole === 'Standard' || addendum.adStatus === 'Draft'"
                      (focus)="focus(1,undefiend)" (blur)="blur()" [(ngModel)]="addendum.assignedUser" name="assignedTo"
                      #assignTo="ngModel" (keyup)="FilterAssignTo()" (change)="ValidateAssignTo()" matInput
                      [matAutocomplete]="autoassign" required>
                    <mat-autocomplete #autoassign="matAutocomplete" [displayWith]="displayFn.bind(this)"
                      (optionSelected)='selectionChanged($event.option)'>
                      <mat-option *ngFor="let option of Users" [value]="option.uniqueid">
                        {{option.firstName + ' ' + option.lastName}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error>
                      *You must assign a Business Affairs member before sending this to Rightsline
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 1 }" id="1">
                    <div>Once the project memo has been approved and submitted,
                      this will signify which Business Affairs team member has been assigned to the project memo.</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Send Copies To -->
            <div class="form-group"
              [ngClass]="{'active': id === 2,'error' : (f.submitted || cc.touched) && (!cc.valid || ccIsInvalid) }"
              id="2">
              <div class="row align-items-start">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" (click)="focus(2, cc);">
                  <mat-form-field
                    class="example-full-width sign-input-2 sign-input-3 wrapper-padding multiple-email-own"
                    floatLabel="always">
                    <div class="attachment-section-1">
                      <ul class="d-list-item attachment-items-list list-unstyled">
                        <li *ngFor="let p of CCList; let ind = index;">
                          <div class="attachment-item">
                            <p>{{p.name ? p.name : p.email}}
                              <span *ngIf="p.name">{{ '('+ p.email + ')'}}</span>
                            </p>
                            <img (click)="removeFromCCList(ind)" src="../assets/images/close-icon.png"
                              class="close-icon">
                          </div>
                        </li>
                        <li class="simple-input">
                          <!-- <input matInput > -->
                          <div>
                            <mat-label class="label-own mat-form-field-label">Send Copies To</mat-label>
                            <!-- onkeypress="this.style.width = ((this.value.length + 1) * 10) + 'px';" style="width: 10px;"  -->
                            <input id="ccinput" type="text" matInput [matAutocomplete]="auto" [(ngModel)]="addendum.cc"
                              [ngClass]="{'d-none': !addendum.cc && id !== 2}"
                              (keyup)="SaveProgress(); (addendum.cc && addendum.cc.length > 1 && searchPeopleEmail()); (($event.code === 'Enter' || $event.code === 'Comma') && addendum.cc && addEmailToList())"
                              name="cc" #cc="ngModel" (focus)="focus(2,undefiend)" (blur)="blur(); sendCopiesBlur();" email>
                          </div>
                          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getPosts($event.option)'>
                            <mat-option class="multi-email-option" *ngFor="let option of CCSuggestions"
                              [value]="option.email">
                              <strong style="font-size: 14px;">
                                {{option.name}}
                              </strong>
                              <div style="font-size: 12px;opacity: 0.8;">
                                {{option.email}}
                              </div>
                            </mat-option>
                          </mat-autocomplete>
                        </li>
                      </ul>
                    </div>
                    <mat-error *ngIf="!ccIsInvalid && !cc.valid">
                      Please enter a valid email address

                    </mat-error>
                  </mat-form-field>
                  <span class="mat-error outer-error" *ngIf="ccIsInvalid">
                    *One or more provided values is not a valid email address
                  </span>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 2 }" id="2">
                    <div>Make sure to CC others who need to be in the know:</div>
                    <ul class="tooltip-items list-unstyled">
                      <li>Department heads</li>
                      <li>Other relevant personnel</li>
                    </ul>
                    <!-- <div class="pb-3">Enter their email addresses here.</div> -->
                    <div><span>Tip</span> : <i>For Participant Media personnel you can
                        also start typing their name and select from existing matches.</i> </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Project Name -->
            <div class="form-group" [ngClass]="{'active': id === 3 }" id="3">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 position-relative">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <input matInput name="projectName" #projectName="" disabled
                      [value]="addendum.contractorCompanyName + ' on ' + addendum.projectName + ' from ' +  addendum.catalog + ' ' + (addendum.projectCreatedAt | date : 'MM/dd/yy')"
                      placeholder="Project Memo *" (focus)="focus(3,undefiend)" (blur)="blur()">
                  </mat-form-field>
                  <div (click)="viewProject()" class="project-memo-bottom text-color font-14 cursor">VIEW PROJECT MEMO
                  </div>
                  <div id="myDiv" class="project-memo-bottom text-color font-14 cursor d-none">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="4"
              [ngClass]="{'active': id === 4, 'error': (f.submitted || counterparties.touched) && !counterparties.valid }">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      name="counterparties" #counterparties="ngModel" maxlength="10000"
                      [(ngModel)]="addendum.counterparties" placeholder="Counterparties to Original Agreement*"
                      (focus)="focus(4,undefiend)" (blur)="blur()" (keyup)="SaveProgress()" required></textarea>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((addendum && addendum.counterparties) ? addendum.counterparties.length : 0 )| number }} /
                      {{ 10000 | number}}</div>
                    <mat-error *ngIf="!counterparties.valid">
                      *Please provide information about the counterparties to the original agreement
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 4 }" id="4">
                    <div>Please list the Contractor that the original project memo was
                      for (including the contact name, address, and email address).</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="5"
              [ngClass]="{'active': id === 5, 'error': (f.submitted || responsibleParty.touched) && !responsibleParty.valid }">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      name="responsibleParty" (keyup)="SaveProgress()" [(ngModel)]="addendum.responsibleParty" required
                      #responsibleParty="ngModel" placeholder="Responsible Party*" (focus)="focus(5,undefiend)"
                      (blur)="blur()"></textarea>
                    <mat-error>
                      *Please provide information about the responsible party
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 5 }" id="5">
                    <div>Please list the name of the contact at Participant.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="general-form mt-2">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="pt-3 heading-5 font-weight-500">CHANGES TO EXISTING AGREEMENT AND/OR ADDITIONAL TERMS</h5>
          </div>
          <div class="pt-3">
            <div class="form-group" id="6"
              [ngClass]="{'active': id === 6, 'error': (f.submitted || changes.touched) && !changes.valid }">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      #changes="ngModel" (keyup)="SaveProgress()" [(ngModel)]="addendum.changes" required
                      placeholder="Description of Changes and/or Additional Terms *" name="contractorCompanyName"
                      (focus)="focus(6,undefiend)" (blur)="blur()" #contractorCompanyName=""></textarea>
                    <mat-error>
                      *Please provide information about the changes
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 6 }" id="6">
                    <div>Please list and describe any changes and/or additional terms to the original engagement.</div>
                    <div><span>e.g.</span> : <div>any additional services, deliverables and/or payments</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="7"
              [ngClass]="{'active': id === 7, 'error': (f.submitted || reasons.touched) && !reasons.valid }">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      #reasons="ngModel" [(ngModel)]="addendum.reasons" placeholder="Reason(s) for Changes *"
                      (keyup)="SaveProgress()" name="reasons" (focus)="focus(7,undefiend)" (blur)="blur()"
                      #contractorContactName="" required></textarea>
                    <mat-error>
                      *Please provide information about the reason the changes are necessary
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 7 }" id="7">
                    <div>Please let us know why the changes above need to be made.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group mt-3"
              [ngClass]="{'active': id === 25, 'error' : showFileSizeError, 'disabled' : formDisabled }" id="25">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" (mouseenter)="focus(25,undefiend)" (click)="focus(25,undefiend)"
                  (mouseleave)="blur()">
                  <div class="option-radio download-attachments">
                    <p class="filter-font">Attachments</p>
                    <div class="attachment-section">
                      <ul class="d-list-item attachment-items-list list-unstyled">
                        <li *ngFor="let f of attachments">
                          <div class="attachment-item">
                            <p>
                              <span class="downloadItem cursor"
                                (click)="!f.NotLoaded && downloadSingleFile(f)">{{f.file}}</span>
                            </p>
                            <span (click)="removeAttachments(f)">
                              <img class="cursor" *ngIf="!f.NotLoaded" src="../assets/images/close-icon.png"
                                class="close-icon">
                            </span>
                            <mat-spinner *ngIf="f.NotLoaded" diameter="18" class="close-icon"></mat-spinner>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class=" white-btn-main d-flex justify-content-between row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 mb-2">
                        <input id="fileInput" type="file" multiple class="d-none" (change)="uploadAttachment($event)"
                          #fileLabel>
                        <button [disabled]="formDisabled" (focus)="focus(25,undefiend)" (blur)="blur()" type="button"
                          (click)="fileLabel.click(); focus(25,undefiend)" mat-raised-button color=""
                          class="print-submit-btn font-weight-600  white-btn">ADD
                          ATTACHMENTS </button>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5">
                        <span (click)="downLoadFiles(); focus(25,undefiend)">
                          <button (focus)="focus(25,undefiend)" (blur)="blur()" type="button"
                            *ngIf="attachments && attachments.length > 0" mat-raised-button color=""
                            class="print-submit-btn font-weight-600  white-btn">
                            DOWNLOAD ALL</button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <mat-error *ngIf="showFileSizeError">
                    Each file must be no more than 25mb.
                  </mat-error>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 25 }" id="25">
                    <div>Wherever possible, please ask for a written proposal from the Contractor that describes the
                      scope of their services. Our preference is that it
                      be on their own letterhead and be in their own words, and perhaps
                      referencing similar work that they’ve done for other clients. <br>
                      Attach the proposal here.<br>
                      Each file must be no more than 25mb.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="form-group mt-3" [ngClass]="{'active': id === 25, 'error' : showFileSizeError }" id="25">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" (mouseenter)="focus(25)" (mouseleave)="blur()">
                  <div class="option-radio download-attachments">
                    <p class="filter-font">Attachments</p>
                    <div class="attachment-section">
                      <ul class="d-list-item attachment-items-list list-unstyled">
                        <li *ngFor="let f of attachments">
                          <div class="attachment-item">
                            <p>
                              <span class="cursor" (click)="!f.NotLoaded && downloadSingleFile(f)">
                                {{f.file}}
                              </span>
                            </p>
                            <span (click)="removeAttachments(f)">
                              <img class="cursor" *ngIf="!f.NotLoaded" src="../assets/images/close-icon.png"
                                class="close-icon">
                            </span>

                            <mat-spinner *ngIf="f.NotLoaded" diameter="18" class="close-icon"></mat-spinner>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class=" white-btn-main d-flex justify-content-between row">
                      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 mb-2">
                        <input type="file" multiple class="d-none" (change)="uploadAttachment($event)" #fileLabel>
                        <button type="button" (click)="fileLabel.click()" mat-raised-button color=""
                          class="print-submit-btn font-weight-600  white-btn">ADD
                          ATTACHMENTS </button>
                      </div>
                      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <span (click)="downLoadFiles()">
                          <button type="button" mat-raised-button class="print-submit-btn font-weight-600  white-btn"
                          *ngIf="attachments && attachments.length > 0">
                            DOWNLOAD ALL</button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <mat-error *ngIf="showFileSizeError">
                    Each file must be no more than 25mb.
                  </mat-error>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 25 }" id="25">
                    <div>Wherever possible, please ask for a written proposal from the Contractor that describes the
                      scope of their services. Our preference is that it
                      be on their own letterhead and be in their own words, and perhaps
                      referencing similar work that they’ve done for other clients. <br>
                      Attach the proposal here.<br>
                      Each file must be no more than 25mb.
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </section>
        <div class=" white-btn-main pt-4 d-flex justify-content-between row">
          <div *ngIf="userRole == 'Standard'" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <button *ngIf="addendum.adStatus == 'Draft'" type="button" (click)="(f.submitted = true); submit()"
              mat-raised-button color="primary" class="bg-color w-100 sign-btn">SUBMIT</button>
            <button *ngIf="addendum.adStatus == 'Submitted' || addendum.adStatus == 'Assigned'" type="button"
              mat-raised-button color="primary" disabled class="bg-color w-100 sign-btn">SUBMITTED</button>
            <button *ngIf="addendum.adStatus == 'Accepted'" disabled type="button" mat-raised-button color="primary"
              class="bg-color w-100 sign-btn">ACCEPTED</button>
          </div>
          <div *ngIf="userRole !== 'Standard'" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <button *ngIf="addendum.adStatus == 'Draft'" type="button" disabled mat-raised-button color="primary"
              class="font-weight-500 bg-color  w-100 sign-btn-size-12 sign-btn">SUBMIT</button>
            <button *ngIf="addendum.adStatus == 'Submitted' || addendum.adStatus == 'Assigned'" type="button"
              mat-raised-button color="primary" (click)="(f.submitted = true); submit()"
              class="font-weight-500 bg-color  w-100 sign-btn-size-12 sign-btn">SUBMIT</button>
            <button *ngIf="addendum.adStatus == 'Accepted'" disabled type="button" mat-raised-button color="primary"
              class="font-weight-500 bg-color  w-100 sign-btn-size-12 sign-btn">ACCEPTED</button>
          </div>
          <div *ngIf="!(addendum.adStatus == 'Accepted')" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 mb-4">
            <span (click)="openDeleteModal()">
              <button type="button" mat-raised-button color="" class="w-100 white-btn">
                DELETE ADDENDUM</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
<app-print-addendum [addendum]="addendum"></app-print-addendum>
<div class="modal confirmation-modal" id="confirmationModal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal body -->
      <input type="text" class="firstFocus">
      <div class="modal-body font-14">
        <div class="pb-3 text-color font-16 font-weight-500">{{confirmationTitle}}</div>
        <div class="">{{confirmationMessage}}</div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button id="confirmation-modal-cancle" type="button" mat-raised-button color=""
          class="w-100 white-btn cancel-btn text-uppercase">CANCEL</button>
        <button mat-raised-button color="primary" class="w-100 text-uppercase" (click)="confirm()">CONFIRM</button>
      </div>
      <input type="text" class="lastFocus">
    </div>
  </div>
</div>
