<!-- <nav class="d-flex navbar-expand-md bg-nav justify-content-center">
  <a class="navbar-brand" href="#"><img src="../assets/images/logo.png" class="img-fluid img-size"></a>
   <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button> 
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
   <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>    
    </ul> 
  </div>  
</nav> -->

