<app-auth-header></app-auth-header>
<section class="pt-5">
  <div class="container-fluid">
    <form class="form-own" #f="ngForm" (submit)="f.touched && f.valid && login()" autocomplete="off" novalidate>
      <div class="sign-in-screen">
        <div class="sign-in-screen-section">
          <div class="pb-4 text-center form-heading">SIGN IN</div>
          <div class="form-group"
            [ngClass]="{'error' : (f.submitted || mail.touched) && (mail.hasError('email')  || mail.hasError('required')) }">
            <mat-form-field class="example-full-width sign-input-2 mat-form-field  error" floatLabel="always">
              <mat-label>Email</mat-label>
              <input class="mat-input-element mat-form-field-autofill-control" name="username" type="text" email matInput placeholder="" #mail="ngModel" [(ngModel)]="email"
                maxlength="240" minlength="5" required autocomplete="off">
              <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
              <mat-error *ngIf="mail.hasError('minlength') && !mail.hasError('email') && !mail.hasError('required')">
                Email should be atleast 5 character long
              </mat-error>
              <mat-error *ngIf="mail.hasError('email') && !mail.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="mail.hasError('required')">
                Please enter your email address to login
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group"
            [ngClass]="{'error' : (f.submitted || pass.touched) &&(pass.hasError('minlength')  || pass.hasError('required')) }">
            <mat-form-field class="example-full-width sign-input-2 mat-form-field " floatLabel="always">
              <mat-label>Password</mat-label>
              <input class="mat-input-element mat-form-field-autofill-control" name="pass" matInput placeholder="" #pass="ngModel" [(ngModel)]="password" type="password"
                autocomplete="off" minlength="8" maxlength="40" required>
              <mat-error *ngIf="pass.hasError('minlength') && !pass.hasError('required')">
                Password should be atleast 8 character long
              </mat-error>
              <mat-error *ngIf="pass.hasError('required')">
                Please enter your password to login
              </mat-error>
            </mat-form-field>
            <span *ngIf="message" class="mat-error" style="font-size:12px;">
              {{message}}
            </span>
          </div>
          <div class="form-group d-flex flex-column">
            <button mat-raised-button color="primary"
              class="font-weight-500 bg-color  w-100 sign-btn-size-12 sign-btn">SIGN IN</button>
            <div class="pt-xl-3 pt-lg-3 pt-md-2 pt-sm-2 text-center">
              <a routerLink="/forgot" class="text-center forgot-color font-weight-500">FORGOT PASSWORD </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>