<div tabindex="-1" class="modal confirmation-modal" id="app-confirmation" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <input class="firstFocus" type="text">
      <!-- Modal body -->
      <input type="text" class="firstFocus">
      <div class="modal-body font-14">
        <div class="pb-3 text-color font-16 font-weight-500">{{confirmationTitle}}</div>
        <div class="">{{confirmationMessage}}</div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer" [ngClass]="{'without-top-border':  !showCancleBtn }">
        <button *ngIf="showCancleBtn" id="app-confirmation-cancle" (click)="cancle()" type="button" mat-raised-button
          color="" class="w-50 print-submit-btn text-uppercase white-btn cancel-btn modal-cancel">CANCEL</button>
        <button mat-raised-button color="primary" class="print-submit-btn text-uppercase w-50 modal-confirm"
          (click)="confirm()">{{ btnTitle ? btnTitle : 'CONFIRM' }}</button>
      </div>
      <input type="text" class="lastFocus">
    </div>
  </div>
</div>