<section>
  <div>
    <div class="welcome-wrapper">
      <div class=" welcome-section pt-4">
        <div class="pb-3 heading-6 light-black font-weight-500">
          {{heading}}
        </div>
        <div class="pb-3 font-14 medium-black">{{message}}</div>
        <div class="welcome-btn">
          <button *ngIf="!showAddButton" mat-raised-button color="primary" (click)="resetFilters()"
            class="w-100 text-uppercase">CLEAR SEARCH & FILTERS
          </button>
          <button *ngIf="showAddButton" mat-raised-button color="primary" (click)="addProjects()"
            class="w-100 text-uppercase">Start a Project Memo Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
