<div class="page-header">
  Project Memo {{projectId}}
  <div class="float-right">Status: {{project.pmStatus}}</div>
</div>
<div class="page-footer">
  Exported on: {{ today | date : 'MM/dd/yyyy' }}
  <div class="float-right">
    <span id="pageFooter" class="page-counter">
    </span></div>
</div>
<table>
  <thead>
    <tr>
      <td>
        <!--place holder for the fixed-position header-->
        <h6 class="page-header-space"></h6>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="page" style="line-height: 1.5;">
          <section *ngIf="compLoaded" id="dvContents" class="general-form px-4">
            <div class="">
              <section class="pl-3 pl-sm-3 pl-3 pl-md-5 pl-lg-5">
                <div class="padding-details-lg">
                  <div *ngIf="showHeading"
                    class="main-heading font-weight-300">
                    Project Memo for {{project.contractorCompanyName? project.contractorCompanyName : '[vender name]'}}
                    on {{project.catalog ? project.catalog : '[project catalog]'}}
                    from {{project.from ? project.from : '[user name]'}}
                  </div>
                  <div *ngIf="!showHeading"
                    class="main-heading font-weight-300">
                    Project Memo {{projectId}}
                  </div>
                  <div class="light-black font-14 text-justify">{{projectId}}</div>
                </div>
                <section>
                  <div class="pb-1">
                    <div class="heading-5 padding-details-md font-weight-500">
                      GENERAL INFORMATION
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Assigned To
                      </div>
                      <div class="font-14 text-justify">
                        {{project.assignedUser ? project.assignedUser : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        In CC
                      </div>
                      <div *ngIf="project.mailList.length == 0" class="font-14 text-justify">
                        - -
                      </div>
                      <div *ngIf="project.mailList.length > 0" class="font-14 text-justify">
                        <span *ngFor="let p of project.mailList;let i = index"> {{p.email}}<span
                            *ngIf="i < (project.mailList.length - 1)">,</span></span>
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Project Name
                      </div>
                      <div class="font-14 text-justify">
                        {{project.projectName? project.projectName :'- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Catalog
                      </div>
                      <div class="font-14 text-justify">
                        {{project.catalog ? project.catalog : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Effective Dates
                      </div>
                      <div class="font-14 text-justify">
                        From {{ project.effectiveDate ? (project.effectiveDate | date : 'MM/dd/yy') : ' - - ' }}
                        to {{ project.expirationDate ? (project.expirationDate | date : 'MM/dd/yy') : ' - - ' }}
                      </div>
                    </div>
                  </div>
                </section>
                <section>
                  <div class="pb-1">
                    <div class="heading-5 padding-details-md font-weight-500">
                      CONTRACTOR
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Contractor Name
                      </div>
                      <div class="font-14 text-justify">
                        {{project.contractorCompanyName ? project.contractorCompanyName : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Primary Contact Name
                      </div>
                      <div class="font-14 text-justify">
                        {{project.contractorContactName ? project.contractorContactName : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Primary Contact Email
                      </div>
                      <div class="font-14 text-justify">
                        {{project.contractorContactEmail ? project.contractorContactEmail : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Primary Contact Phone
                      </div>
                      <div class="font-14 text-justify">
                        {{project.contractorContactPhone ? project.contractorContactPhone : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Will Contractor Work Onsite?
                      </div>
                      <div class="font-14 text-justify">
                        {{project.contractorWorkOnsite == true ? 'Yes' : project.contractorWorkOnsite == false ? 'No' : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Contractor Insurance
                      </div>
                      <div class="font-14 text-justify">
                        <span *ngIf="project.contractorInsuranceGeneral">
                          General Liability,
                        </span>
                        <span *ngIf="project.contractorInsuranceEnO">
                          E & O,
                        </span>
                        <span *ngIf="project.contractorInsuranceProduction">
                          Worker's Comp,
                        </span>
                        <span *ngIf="project.contractorInsuranceWorkersComp">
                          Production Insurance,
                        </span>
                      </div>
                    </div>
                  </div>
                </section>
                <section>
                  <div class="pb-1">
                    <div class="heading-5 padding-details-md font-weight-500">
                      SERVICES / DELIVERABLES / PAYMENT
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Contractor's Service
                      </div>
                      <div class="font-14 text-justify">
                        {{project.contractorServices ? project.contractorServices : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Approximate Hours of Work
                      </div>
                      <div class="font-14 text-justify">
                        {{project.approxHours ? project.approxHours : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Deliverables
                      </div>
                      <div class="font-14 text-justify">
                        {{project.deliverablesDescription ? project.deliverablesDescription : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Delivery Schedule
                      </div>
                      <div class="font-14 text-justify">
                        {{project.deliverySchedule ? project.deliverySchedule : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Total Fee
                      </div>
                      <div class="font-14 text-justify">
                        {{project.totalFees ? project.totalFees : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Payment Schedule
                      </div>
                      <div class="font-14 text-justify">
                        {{project.paymentSchedule ? project.paymentSchedule : '- -'}}
                      </div>
                    </div>
                  </div>
                </section>
                <section>
                  <div class="pb-1">
                    <div class="heading-5 padding-details-md font-weight-500">
                      CONTENT
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Ownership of Deliverables
                      </div>
                      <div class="font-14 text-justify">
                        {{project.ownershipOfDeliverables ? project.ownershipOfDeliverables : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Rights Licensed by Contractor (if any)
                      </div>
                      <div class="font-14 text-justify">
                        {{project.rightsLicensedByContractor ? project.rightsLicensedByContractor : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Intentended Use by Contractor
                      </div>
                      <div class="font-14 text-justify">
                        {{project.intendedUseByContractor ? project.intendedUseByContractor : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Intentended Use by Participant
                      </div>
                      <div class="font-14 text-justify">
                        {{project.intendedUseByParticipant ? project.intendedUseByParticipant : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Third Party Assets to be Included
                      </div>
                      <div class="font-14 text-justify">
                        {{project.thirdPartyAssets == true ? 'Yes' : project.thirdPartyAssets == false ? 'No' : '- -'}}
                      </div>
                    </div>
                    <div class="padding-details-sm">
                      <div class="light-black font-15">
                        Attachments
                      </div>
                      <div *ngFor="let p of project.attachment" class="font-14 text-justify">
                        {{p.file}}
                      </div>
                    </div>
                  </div>
                </section>
              </section>
            </div>
          </section>
        </div>
      </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td>
        <!--place holder for the fixed-position footer-->
        <div class="page-footer-space"></div>
      </td>
    </tr>
  </tfoot>
</table>