/* @media screen {
    div.divFooter, div.divHeader {
        display: none;
    }
}
 */

/* @page {
    margin: 50cm;

    @top-center {
        content: element(pageHeader);
    }

    @bottom-center {
        content: element(pageFooter);
    }
} */

/* 
body {
    margin: 25mm 25mm 25mm 25mm;
}
*/

/* 
@media print {
    div.divFooter, div.divHeader {
        position: fixed; 
        left: 0;
        right: 0;
    }
    div.divFooter {
        bottom: 0;
    }
    div.divHeader {
        top: 0;
    }
} 

@page {
    size: auto;
    margin: 2cm;
    @top-left {
        content: "first: " string(heading, first);
    }
    @top-center {
        content: "start: " string(heading, start);
    }
    @top-right {
        content: "last: " string(heading, last);
    }
}

h2 {
    string-set: heading content()
} */

body {
    margin: 0;
}
