<div *ngIf="cols" class="table-responsive">
  <table class="table table-hover" style="border:1px solid #ddd">
    <thead>
      <tr>
        <td>S.No.</td>
        <td *ngFor="let col of cols">
          {{col.ColumnName}}
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of gridData; let num = index">
        <td>{{num + 1}}</td>
        <td *ngFor="let col of cols">
          <ng-container *ngIf="col.PropertyType == 0"><span (click)="ActionButtoClick(data, col.PropertyName)">
              {{data[col.PropertyName]}}</span>
          </ng-container>
          <ng-container *ngIf="col.PropertyType == 1">
            <a [href]="data[col.PropertyName]">{{col.DisplayText}}</a>
          </ng-container>
          <ng-container *ngIf="col.PropertyType == 2">
            <ng-container *ngIf="col.DisplayText.constructor.name == 'String'">
              <button (click)="ActionButtoClick(data, col.DisplayText)" [ngClass]="{'btn-primary': col.DisplayText == 'Edit', 'btn-danger': col.DisplayText == 'Delete', 'btn-success': action == 'Save' || action == 'Update'  }">
                {{col.DisplayText}}</button>
            </ng-container>
            <ng-container *ngIf="col.DisplayText.constructor.name == 'Array'">
              <button *ngFor="let action of col.DisplayText" style="margin:5px;" (click)="ActionButtoClick(data, action)"
                [ngClass]="{'btn-primary': action == 'Edit', 'btn-danger': action == 'Delete', 'btn-success': action == 'Save' || action == 'Update' }">{{action}}</button>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="col.PropertyType == 3">
            <a [href]="data[col.PropertyName]">{{data[col.DisplayText]}}</a>
          </ng-container>
          <ng-container *ngIf="col.PropertyType == 4">
            <span (click)="ActionButtoClick(data, col.PropertyName)" *ngIf="data[col.PropertyName] == false" class="glyphicon glyphicon-remove icon-center"></span>
            <span (click)="ActionButtoClick(data, col.PropertyName)" *ngIf="data[col.PropertyName] == null" class="glyphicon glyphicon-option-horizontal icon-center"></span>
            <span (click)="ActionButtoClick(data, col.PropertyName)" *ngIf="data[col.PropertyName] == true" class="glyphicon glyphicon-ok icon-center"></span>
          </ng-container>
          <ng-container *ngIf="col.PropertyType == 6">
            <mat-slide-toggle (click)="ActionButtoClick(data, col.PropertyName, $event)" [(ngModel)]="data[col.PropertyName]"
              [disabled]="data[col.DisplayText]"></mat-slide-toggle>
          </ng-container>
          <ng-container *ngIf="col.PropertyType == 5">
            <input (change)="ActionButtoClick(data, col.PropertyName)" type="text" style="width:40px;text-align:center;"
              [(ngModel)]="data[col.PropertyName]" [disabled]="data[col.DisplayText]" />
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <i *ngIf="(gridData && gridData.length == 0) || pageInfo.TotalRecord == 0">
    No Contest!
  </i>
</div>
<div>
  <ul class="pagination" *ngIf="showPagination">
    <li [ngClass]="{'disable' : pageInfo.CurrentPage <= 1}" (click)="SetPage(1)"><a>
        <<</a> </li> <li [ngClass]="{'disable' : pageInfo.CurrentPage <= 1}" (click)="SetPage( pageInfo.CurrentPage - 1)"><a>
            <</a> </li> <li [ngClass]="{'active' : pageInfo.CurrentPage == (p) }" *ngFor="let p of totalPage" (click)="SetPage(p)"><a>{{
                p }}</a></li>
    <li [ngClass]="{'disable' : pageInfo.CurrentPage >= LastPage }" (click)="SetPage( pageInfo.CurrentPage + 1)"><a>></a></li>
    <li [ngClass]="{'disable' : pageInfo.CurrentPage >= LastPage }" (click)="SetPage(LastPage)"><a>>></a></li>
    <li> <span>Total Page: {{LastPage}}</span>
      <span>Total Records: {{pageInfo.TotalRecord}}</span></li>
  </ul>
  <select (change)="changePageSize($event.target.value)" class="page-size-select">
    <option>10</option>
    <option>50</option>
    <option>100</option>
  </select>
</div>