<!-- <app-header></app-header> -->
<!-- <app-sidebar></app-sidebar> -->
<!-- <app-print-memo></app-print-memo> -->
<!-- 
<app-project-memo-form></app-project-memo-form> -->
<!-- <app-project-memo-form></app-project-memo-form> -->
<!-- <app-search-bar></app-search-bar> -->
<!-- <app-spinner></app-spinner> -->
<!-- <div id="mydashboard" class="dashboard-section">
  
  <div class="own-dashboard-section">
    <section>
      <table class="table table-hover own-table-dashboard table-responsive">
        <thead>
          <tr>
            <th scope="col">Submitted <i class='fas fa-arrow-down icon-space'></i></th>
            <th scope="col">ID</th>
            <th scope="col">Vendor</th>
            <th scope="col">Project</th>
            <th scope="col">Type</th>
            <th scope="col">Assigned To</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01/22/19 - Tue</td>
            <td>PM0001234</td>
            <td>REdLine</td>
            <td>Avengers</td>
            <td>Memo</td>
            <td>Make Batting </td>
            <td>In review</td>
          </tr>
          <tr>
            <td>01/22/19 - Tue</td>
            <td>PM0001234</td>
            <td>REdLine</td>
            <td>Avengers</td>
            <td>Memo</td>
            <td>Make Batting </td>
            <td>In review</td>
          </tr>
          <tr>
            <td>01/22/19 - Tue</td>
            <td>PM0001234</td>
            <td>REdLine</td>
            <td>Avengers</td>
            <td>Memo</td>
            <td>Make Batting </td>
            <td>In review</td>
          </tr>
          <tr>
            <td>01/22/19 - Tue</td>
            <td>PM0001234</td>
            <td>REdLine</td>
            <td>Avengers</td>
            <td>Memo</td>
            <td>Make Batting </td>
            <td>In review</td>
          </tr>
          <td colspan="8">
            <mat-paginator itemsPerPageLabel="rows per page" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </td>
        </tbody>
      </table>
    </section>
  </div>
</div> -->

<!-- 
  
<div class="modal show" id="userModal">
  <div class="modal-dialog modal-print-memo">
    <div class="modal-content ">
      <div class="modal-header modal-heading">
        <div>
          <button mat-raised-button color="primary" class="complete-form-submit ml-2">PRINT</button>
          <button mat-raised-button color="" class="print-submit-btn white-btn ml-2">DOWNLOAD ALL ATTACHMENTS</button>

        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <section class="general-form px-3 py-xl-5 py-lg-5 py-md-4 py-sm-3">

        <div class="">
          <section class="pl-5">
                    <div class="padding-details-lg">
              <div class="main-heading font-weight-300">
                Project Memo for [vendor name] on [project name] from [user name]
              </div>
              <div class="light-black font-14">PM00001222</div>
            </div>

            <section>
              <div class="pb-1">
                <div class="heading-5 padding-details-md font-weight-500">
                  GENERAL INFORMATION
                </div>
                <div class="padding-details-sm">
                  <div class="light-black font-15">
                    Assigned To
                  </div>
                  <div class="font-14">
                    Matt Randall
                  </div>
                </div>
                <div class="padding-details-sm">
                  <div class="light-black font-15">
                    Assigned To
                  </div>
                  <div class="font-14">
                    Matt Randall
                  </div>
                </div>
                <div class="padding-details-sm">
                  <div class="light-black font-15">
                    Assigned To
                  </div>
                  <div class="font-14">
                    Matt Randall
                  </div>
                </div>
              </div>
            </section>

            <section>
              <div class="pb-1">
                <div class="heading-5 padding-details-md font-weight-500">
                  GENERAL INFORMATION
                </div>
                <div class="padding-details-sm">
                  <div class="light-black font-15">
                    Assigned To
                  </div>
                  <div class="font-14">
                    Matt Randall
                  </div>
                </div>
                <div class="padding-details-sm">
                  <div class="light-black font-15">
                    Assigned To
                  </div>
                  <div class="font-14">
                    Matt Randall
                  </div>
                </div>
                <div class="padding-details-sm">
                  <div class="light-black font-15">
                    Assigned To
                  </div>
                  <div class="font-14">
                    Matt Randall
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="pb-1">
                <div class="heading-5 padding-details-md font-weight-500">
                  GENERAL INFORMATION
                </div>
                <div class="padding-details-sm">
                  <div class="light-black font-15">
                    Assigned To
                  </div>
                  <div class="font-14">
                    Matt Randall
                  </div>
                </div>
                <div class="padding-details-sm">
                  <div class="light-black font-15">
                    Assigned To
                  </div>
                  <div class="font-14">
                    Matt Randall
                  </div>
                </div>
                <div class="padding-details-sm">
                  <div class="light-black font-15">
                    Assigned To
                  </div>
                  <div class="font-14">
                    Matt Randall
      </div>
      </div>
      </div>
      </section>
      </section>
      </div>
      </section>
      </div>
      </div>
      </div> -->
      <!-- <div class="modal show" id="userModal">
        <div class="modal-dialog">
          <div class="modal-content ">
            <div class="modal-header modal-heading">
              <h3 class="font-20 ">ADDENDUM ASSIGNMENT</h3>
            </div>
            <div class="pt-3 container">
              <form class="form-own">
                <div class="form-group">      
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <input matInput placeholder="First Name">
                  </mat-form-field>
                  <div class="text-color font-14 pt-1 view-project-memo pl-3 cursor">VIEW PROJECT MEMO</div>
                </div>
              </form>
              <div class=" white-btn-main mb-3 d-flex justify-content-between row">
                <div class="col-5 ">
                  <button mat-raised-button color="" class="print-submit-btn  white-btn w-100 close" data-dismiss="modal">CANCEL</button>
                </div>
                <div class="col-5 ">
                  <button mat-raised-button color="primary" class="print-submit-btn w-100">CONTINUE</button>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      