<div class="page-header">
    Addendum {{addendumId}}
    <div class="float-right">Status: {{ addendum.adStatus == 'Submitted' && !(userRole == 'Standard') ? 'Needs Pickup' :  addendum.adStatus }}</div>
  </div>
  <div class="page-footer">
    <!-- Exported on: {{ today | date : 'MM/dd/yyyy' }} -->
    <div class="float-right">
      <span id="pageFooter" class="page-counter">
      </span></div>
  </div>
  <table #table id="tableContent" (domChange)="alert('asas')">
    <thead>
      <tr>
        <td>
          <!--place holder for the fixed-position header-->
          <h6 class="page-header-space"></h6>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="page" style="line-height: 1.5;">
            <section *ngIf="compLoaded" id="dvContents" class="general-form px-4">
                <div class="">
                    <section class="pl-3 pl-sm-3 pl-3 pl-md-5 pl-lg-5">
                      <div class="padding-details-lg">
                        <div *ngIf="addendum.contractorCompanyName && addendum.catalog && addendum.from"
                          class="main-heading font-weight-300">
                          Addendum for {{addendum.contractorCompanyName}} on {{addendum.catalog}} from {{addendum.from}}
                        </div>
                        <div *ngIf="!(addendum.contractorCompanyName && addendum.catalog && addendum.from)"
                          class="main-heading font-weight-300">
                          Addendum {{addendum.adID}}
                        </div>
                        <div class="light-black font-14">{{addendum.adID}}</div>
                      </div>
                      <section>
                        <div class="pb-1">
                          <div class="heading-5 padding-details-md font-weight-500">
                            GENERAL INFORMATION
                          </div>
                          <div class="padding-details-sm">
                            <div class="light-black font-15">
                              Assigned To
                            </div>
                            <div class="font-14">
                              {{addendum.assignedUser ? addendum.assignedUser :  '_ _'  }}
                            </div>
                          </div>
                          <div class="padding-details-sm">
                            <div class="light-black font-15">
                              In CC
                            </div>
                            <div *ngIf="!(addendum.mailList && addendum.mailList.length > 0)" class="font-14">
                              _ _
                            </div>
                            <div *ngIf="addendum.mailList && addendum.mailList.length > 0" class="font-14">
                              <span *ngFor="let p of addendum.mailList;let i = index"> {{p.email}}<span
                                  *ngIf="i < (addendum.mailList.length - 1)">,</span></span>
                            </div>
                          </div>
                          <div class="padding-details-sm">
                            <div class="light-black font-15">
                              Project Memo
                            </div>
                            <div class="font-14">
                              {{ addendum.contractorCompanyName }}
                              on {{ addendum.catalog }}
                              from {{ addendum.from }}
                              (#{{ addendum.parentProjectMemo }})
                              {{ addendum.projectCreatedAt | date : 'MM/dd/yy'}}
                            </div>
                          </div>
                          <div class="padding-details-sm">
                            <div class="light-black font-15">
                              Counterparties to Original Agreement
                            </div>
                            <div class="font-14">
                              {{addendum.counterparties ? addendum.counterparties : '_ _'}}
                            </div>
                          </div>
                          <div class="padding-details-sm">
                            <div class="light-black font-15">
                              Responsible Party
                            </div>
                            <div class="font-14">
                              {{addendum.responsibleParty ? addendum.responsibleParty : '_ _'}}
                            </div>
                          </div>
                        </div>
                      </section>
                      <section>
                        <div class="pb-1">
                          <div class="heading-5 padding-details-md font-weight-500">
                            Changes to Existing Agreement and/or Additional Terms
                          </div>
                          <div class="padding-details-sm">
                            <div class="light-black font-15">
                              Description of Changes and/or Additional Terms
                            </div>
                            <div class="font-14">
                              {{addendum.changes ? addendum.changes : '_ _'}}
                            </div>
                          </div>
                          <div class="padding-details-sm">
                            <div class="light-black font-15">
                              Reason(s) for Changes
                            </div>
                            <div class="font-14">
                              {{ addendum.reasons ? addendum.reasons : '_ _' }}
                            </div>
                          </div>
                        </div>
                      </section>
                      <section>
                        <div class="pb-1">
                          <div class="padding-details-sm">
                            <div class="light-black font-15">
                              Attachments
                            </div>
                            <div *ngFor="let p of addendum.attachment" class="font-14">
                              {{p.file}}
                            </div>
                          </div>
                        </div>
                      </section>
                    </section>
                  </div>
            </section>
          </div>
        </td>
      </tr>
    </tbody>
  
    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>