<section id="mydashboard" class="dashboard-section">
  <nav class="navbar-bottam">
    <div class="container-fluid d-flex justify-content-between">
      <div class="position-relative">
        <div *ngIf="userRole === 'Standard'" (click)="newproject()" class="d-inline-block cursor">
          <button mat-raised-button color="primary" class="btn-icon ml-0 mr-3">
            <img src="../assets/images/project-memo-w.png" class="icon">
            PROJECT MEMO
          </button>
        </div>
        <div *ngIf="userRole == 'Standard'" (click)="addAddendum()" class="d-inline-block cursor">
          <button mat-raised-button color="primary" class="btn-icon ml-0 mr-3">
            <img src="../assets/images/addendum-w.png" class="icon">
            ADDENDUM
          </button>
        </div>
      </div>
      <div class="input-group search-btn space-left ">
        <div style="position:relative;">
          <input [(ngModel)]="filters.searchText" maxlength="250"
            (keyup)="$event.code === 'Enter' && filters.searchText && search()" type="text"
            class="form-control own-input-outline input-search light-black font-15" placeholder="Search">
        </div>
        <div class="input-group-btn search-icon" [ngClass]="{ 'notactive' : !filters.searchText  }">
          <button *ngIf="!isTestSearchActive" class="btn btn-default " [disabled]="!filters.searchText" (click)="search()" type="button">
            <img src="../assets/images/search.png" class="search-icon-img">
          </button>
          <button *ngIf="isTestSearchActive"  class="btn btn-default"
                  (click)="(filters.searchText = ''); search()" type="button">
            <img src="../assets/images/search-close-icon.png" class="search-icon-img">
          </button>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid own-dashboard-section form-own">
    <section class="wrapper-section">
      <div class="date-filter">
        <div class="dashboard-filter-items ">
          <p *ngIf="userRole == 'Standard'" class="filter-p">
            Filter by Date Created
          </p>
          <p *ngIf="userRole !== 'Standard'" class="filter-p">
              Filter by Date Submitted
            </p>
          <div class="date-picker-wrapper">
            <div class="date-selection own-line col-6 cursor" (click)="picker.open()">
              <img src="assets/images/cal-icon.png" class='calender-icon'>
              <mat-form-field class=" cursor example-full-width" floatLabel="never">
                <input class="cursor" readonly matInput [max]="filters.endDate" (focus)="picker.open()" (dateChange)="search()"
                  [matDatepicker]="picker" [(ngModel)]="filters.startDate" placeholder="">
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="cursor date-selection col-6 cursor" (click)="pickera.open()">
              <mat-form-field class="cursor example-full-width" floatLabel="never">
                <input class="cursor" readonly [min]="filters.startDate" (dateChange)="search()" matInput (focus)="pickera.open()"
                  [matDatepicker]="pickera" [(ngModel)]="filters.endDate" placeholder="">
                <mat-datepicker #pickera></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="data-border-md">
        <div class="date-selection-2 filter-date-section" [ngClass]="{ 'error': filters.type.length == 0 }">
          <div class="filter-p">
            <span> Filter by Type</span>
          </div>
          <mat-form-field floatLabel="always" class="custom-txt-select-wrapper">
            <div class="custom-txt-select">Showing {{filters.type.length}} of {{userTypes.length}}</div>
            <mat-select #firstSelect multiple class="own-select">
              <mat-option class="own-select-option remove-default-checkbox" *ngFor="let item of userTypes"
                [value]="item.value">
                <mat-checkbox (click)="setFilter()" [(ngModel)]="item.selected" class="own-select-checkbox">
                  {{ item.display }}
                </mat-checkbox>
              </mat-option>
              <mat-option class="done-btn own-select-option">
                <div (click)="closeDD()" class="text-color">
                  DONE
                </div>
              </mat-option>
            </mat-select>
            <span class="mat-error" *ngIf="filters.type.length == 0">
              *Select at least one option
            </span>
          </mat-form-field>
        </div>
      </div>
      <div class="data-border-md">
        <div class="date-selection-2 filter-date-section" [ngClass]="{ 'error': filters.status.length == 0 }">
          <div class="filter-p">
            <span> Filter by Status</span>
          </div>
          <mat-form-field floatLabel="always" class="custom-txt-select-wrapper">
            <div class="custom-txt-select">Showing {{filters.status.length}} of {{usersStatus.length}}</div>
            <mat-select #secondSelect multiple class="own-select">
              <mat-option class="own-select-option remove-default-checkbox" *ngFor="let item of usersStatus"
                selected="true" [value]="item.value">
                <mat-checkbox (click)="setFilter()" [(ngModel)]="item.selected" class="own-select-checkbox">
                  {{ item.display }}
                </mat-checkbox>
              </mat-option>
              <mat-option class="done-btn own-select-option">
                <div (click)="closeDD()" class="text-color">
                  DONE
                </div>
              </mat-option>
            </mat-select>
            <span class="mat-error" *ngIf="filters.status.length == 0">
              *Select at least one option
            </span>
          </mat-form-field>
        </div>
      </div>
      <div class="data-border-md" *ngIf="userRole !== 'Standard'">
        <div class="date-selection-2 filter-date-section" [ngClass]="{ 'error': filters.assignment.length == 0 }">
          <div class="filter-p">
            <span> Filter by Assignment </span>
          </div>
          <mat-form-field floatLabel="always" class="custom-txt-select-wrapper">
            <div class="custom-txt-select">Showing {{filters.assignment.length}} of {{assignmentTypes.length}}</div>
            <mat-select #thirdSelect multiple class="own-select">
              <mat-option class="own-select-option remove-default-checkbox" *ngFor="let item of assignmentTypes"
                selected="true" [value]="item.value">
                <mat-checkbox (click)="setFilter()" [(ngModel)]="item.selected" class="own-select-checkbox">
                  {{ item.display }} </mat-checkbox>
                <!-- stop-click -->
              </mat-option>
              <mat-option class="done-btn own-select-option">
                <div (click)="closeDD()" class="text-color">
                  DONE
                </div>
              </mat-option>
            </mat-select>
            <span class="mat-error" *ngIf="filters.assignment.length == 0">
              *Select at least one option
            </span>
          </mat-form-field>
        </div>
      </div>
      <div
        *ngIf="!loadingFilters &&
        !(filters.status.length === statusLength && filters.type.length === 2 && filters.assignment.length == 3  && !filters.searchText)"
        class="data-border-sm text-center mb-3">
        <div class="date-selection-2 d-flex justify-content-center cursor reset-btn">
          <button id="dashboardResetBTN" type="button" mat-raised-button color="" (click)="reset()"
            class="w-100 print-submit-btn attachment-btn white-btn">
            <div class="filter-reset-btn">
              <div class="font-weight-500">
                RESET
              </div>
              <div class="font-weight-500">
                FILTERS
              </div>
            </div>
          </button>
        </div>
      </div>
    </section>
    <section class="own-table-dashboard mb-3" *ngIf="List && List.length > 0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th *ngIf="userRole =='Standard'" scope="col" [ngClass]="{'active': filters.sort == 'createdAt' }"
                (click)="sort('createdAt')">Created<i *ngIf="filters.sort == 'createdAt'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <th *ngIf="userRole !=='Standard'" [ngClass]="{'active': filters.sort == 'submittedAt' }" scope="col"
                (click)="sort('submittedAt')">
                Submitted<i *ngIf="filters.sort == 'submittedAt'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <th *ngIf="userRole !== 'Standard'" [ngClass]="{'active': filters.sort == 'startAt' }" scope="col" (click)="sort('startAt')">Started<i
                *ngIf="filters.sort == 'startAt'" class='fas icon-space'
                [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
            </th>
              <th [ngClass]="{'active': filters.sort == 'projectId' }" scope="col" (click)="sort('projectId')">ID<i
                  *ngIf="filters.sort == 'projectId'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <th [ngClass]="{'active': filters.sort == 'vendor' }" scope="col" (click)="sort('vendor')">Contractor<i
                  *ngIf="filters.sort == 'vendor'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <th [ngClass]="{'active': filters.sort == 'project' }" scope="col" (click)="sort('project')">Project<i
                  *ngIf="filters.sort == 'project'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <th [ngClass]="{'active': filters.sort == 'type' }" scope="col" (click)="sort('type')">Type
                <i *ngIf="filters.sort == 'type'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <th [ngClass]="{'active': filters.sort == 'assignedTo' }" scope="col" (click)="sort('assignedTo')">
                Assigned To<i *ngIf="filters.sort == 'assignedTo'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <th [ngClass]="{'active': filters.sort == 'status' }" scope="col" (click)="sort('status')">Status<i
                  *ngIf="filters.sort == 'status'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <!-- <th *ngIf="userRole =='Standard'" [ngClass]="{'active': filters.sort == 'submittedAt' }" scope="col"
                (click)="sort('submittedAt')">
                Submitted<i *ngIf="filters.sort == 'submittedAt'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of List" (click)="goto(user)">
              <td *ngIf="userRole =='Standard'">
                <span *ngIf="user.createdAt">
                  {{user.createdAt | date : 'MM/dd/yy'}} - {{user.createdAt | date : 'EEE'}}
                </span>
              </td>
              <td *ngIf="userRole !=='Standard'">
                <span *ngIf="user.submittedAt">
                  {{user.submittedAt | date : 'MM/dd/yy'}} - {{user.submittedAt | date : 'EEE'}}
                </span>
              </td>
              <td *ngIf="userRole !== 'Standard'">
                {{user.startAt | date : 'MM/dd/yy'}} - {{user.startAt | date : 'EEE'}}
              </td>
              <td>{{user.projectId | slice:0:20 }}</td>
              <td>{{user.vendor | slice:0:20 }}</td>
              <td>{{user.project | slice:0:20 }}</td>
              <td>{{user.type | slice:0:20 }}</td>
              <td>{{user.assignedTo | slice:0:20 }}</td>
              <td>{{user.status | slice:0:20 }}</td>
              <!-- <td *ngIf="userRole =='Standard'">
                <span *ngIf="user.submittedAt">
                  {{user.submittedAt | date : 'MM/dd/yy'}} - {{user.submittedAt | date : 'EEE'}}
                </span>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="totalUsers >= 10" class="d-flex flex-wrap align-items-center justify-content-end">
        <div class="mat-page-label-own font-12 light-black">Rows per page : </div>
        <mat-paginator class="own-pagination remove-pagination-label hide-underline text-center"
          (page)="pageChanged($event)" [length]="totalUsers" [pageSize]="filters.limit" [hidePageSize]="false"
          [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 20, 30, 50, 70, 100]">
        </mat-paginator>
      </div>
    </section>
    <app-welcome-page
      [hasFilters]="!(filters.status.length === statusLength && filters.type.length === 2 && filters.assignment.length == 3 && !filters.searchText)"
      *ngIf="!(List && List.length > 0) && !loading" (clear)="reset()"></app-welcome-page>
    <app-spinner *ngIf="loading"></app-spinner>
  </div>
  <app-user-account [user]="user" *ngIf="displayForm" [isProfile]="isProfile" (closes)="ModelClosed($event)">
  </app-user-account>
</section>
