<div>
  <div class="modal show" data-backdrop="static" id="addendumModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-heading">
          <h3 class="font-20 ">ADDENDUM ASSIGNMENT</h3>
        </div>
        <div class="pt-3 container">
          <input type="text" class="firstFocus">
          <form class="form-own">
            <div class="form-group" id="6">
              <mat-form-field class="example-full-width sign-input-2 input-icon" floatLabel="always">
                <mat-label>Project Memo</mat-label>
                <input (mouseenter)="mouseEntered($event)" (keyup)="FilterProject($event.target.value)" (change)="validateEntries()" [ngModel]="name" type="text" placeholder=""
                  name="contractorCompanyName" matInput [matAutocomplete]="autoa" required>
                <mat-autocomplete [autoActiveFirstOption]="true" (optionSelected)='projectSelected($event.option)' #autoa="matAutocomplete"
                  [displayWith]="displayFn.bind(this)">
                  <mat-option *ngFor="let p of projects"
                    title="{{p.contractorCompanyName}} on {{p.projectName}} ({{p.pmID}}) created on {{ p.createdAt | date : 'MM/dd/yy' }}"
                    [value]="p.pmID">
                    {{p.contractorCompanyName}} on {{p.projectName}} ({{p.pmID}}) created on
                    {{ p.createdAt | date : 'MM/dd/yy' }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div [ngClass]="{ 'notactive' : !selectedProject }" (click)="selectedProject && viewProject()"
                class="text-color font-14 view-project-memo pl-3 cursor" style="margin-top: -5px;">
                VIEW PROJECT MEMO</div>
            </div>
          </form>
          <div class=" white-btn-main mb-3 d-flex justify-content-between row">
            <div class="col-5 ">
              <button (click)="clear()" mat-raised-button color=""
                class="print-submit-btn  white-btn w-100 text-uppercase" data-dismiss="modal">CANCEL</button>
            </div>
            <div class="col-5 ">
              <button [disabled]="!selectedProject" (click)="selectedProject && countinue()" mat-raised-button
                color="primary" class="print-submit-btn w-100 text-uppercase">CONTINUE</button>
            </div>
          </div>
          <input type="text" class="lastFocus">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-none" id="myDiv1"></div>