.alert-msg {
    padding: 15px 20px;
    position: absolute;
    top: 110px;
    right: 0;
    left: 0;
    z-index: 999;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

.dashboard-alert.center-alert {
    margin: 0;
}

.center-alert .alert-msg {
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: fadein2 0.5s, fadeout2 0.5s 1.5s;
    animation: fadein2 0.5s, fadeout2 0.5s 1.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 120px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 120px;
        opacity: 1;
    }
}

@-webkit-keyframes fadein2 {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 120px;
        opacity: 1;
    }
}

@keyframes fadein2 {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 45px;
        opacity: 1;
    }
}
/* @-webkit-keyframes fadeout {
    from {top: 120px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {top: 120px; opacity: 1;}
    to {top: 0; opacity: 0;}
  } */

.alert-msg.left {
    right: auto;
    left: 0;
}

.alert-msg.right {
    left: auto;
    right: 0;
}

.alert-msg.center {
    transform: translateX(-50%);
    left: 50%;
}

.alert-msg>li {
    position: relative;
    margin-bottom: 10px;
    pointer-events: all;
}

.alert-msg .alert-box-wrapper {
    background-color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 0 5px #ddd;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15.8px;
    letter-spacing: 0.25px;
    color: #fff;
    font-weight: 400;
    padding-right: 70px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.close-alert {
    position: absolute;
    right: 15px;
    top: 6.5px;
    cursor: pointer;
    letter-spacing: 1.25px;
}

.alert-type-txt {
    margin-right: 15px;
    border-right: 1px solid #ddd;
    padding-right: 15px;
}

.alert-msg li p, .alert-msg-error li p {
    margin-bottom: 0;
}

.alert-msg li .fa {
    font-size: 35px;
}

.alert-heading {
    font-size: 15px;
    font-weight: 500;
}

.alert-msg-error li img.img-of-error {
    max-width: 35px;
    position: relative;
    top: -8px;
}

.alert-msg-error {
    background: rgba(177, 49, 40, 0.88);
    color: #fff;
    padding: 15px 15px;
    border-radius: 4px;
    box-shadow: 0 0 3px #a7a7a7;
    position: fixed;
    top: 30px;
    z-index: 99;
}

.dashboard-alert {
    position: relative;
    margin-left: 175px;
    pointer-events: none;
}

@media(max-width:400px) {
    .alert-msg, .alert-msg-error {
        width: 94%;
        right: 3%;
        left: 3%;
    }
}

@media(max-width:767px) {
    .dashboard-alert {
        margin-left: 0;
    }
}