<div class="dashboard-alert"
  [ngClass]="{ 'left' : message.position == 'left', 'center-alert': message.position == 'center' }">
  <ul *ngIf="showerror || showsuccess" class="alert-msg list-unstyled list-inline">
    <li>
      <div class="d-flex flex-wrap alert-box-wrapper">
        <span class="close-alert" (click)="closeAlert()"> CLOSE </span>
        <div *ngIf="false" class="alert-type-txt">Sucsess</div>
        <div class="alert-body-txt">{{message && message.text ? message.text : 'Something went wrong'}}</div>
      </div>
    </li>
  </ul>
</div>