<!-- <div class="container-fluid own-dashboard-section">
  <section class="wrapper-section pb-3">
    <div class="data-border-md">
      <div class="date-selection-2 filter-date-section">
        <p class="filter-p">
          Filter by Type
        </p>
        <div class="dropdown dropdown-filter">
          <div class="font-14 dropdown-txt-black dropdown-selected-text cursor">
            <span>Showing {{filters.type.length}} of {{userTypes.length}}</span>
          </div>
          <div class="dropdown-select-wrapper">
            <ul class="list-unstyled checkbox-list dropdown-items font-14">
              <li (click)="addTypesFilter(item.value)" *ngFor="let item of userTypes">
                <mat-checkbox [checked]="item.selected">{{item.value}}</mat-checkbox>
              </li>
            </ul>
            <div onclick="closeDropdown()" class="text-right padding-left-15 pr-4 pb-1 pt-2 text-color font-14">
              DONE
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="data-border-md">
      <div class="date-selection-2 filter-date-section">
        <p class="filter-p">
          Filter by Status
        </p>
        <div class="dropdown dropdown-filter">
          <div class="font-14 dropdown-txt-black dropdown-selected-text cursor">
            <span>Showing {{filters.status.length}} of {{usersStatus.length}}</span>
          </div>
          <div class="dropdown-select-wrapper">
            <ul class="list-unstyled checkbox-list dropdown-items font-14">
              <li (click)="addStatusFilter(item.value)" *ngFor="let item of usersStatus">
                <mat-checkbox [checked]="item.selected">{{item.value}}</mat-checkbox>
              </li>
            </ul>
            <div onclick="closeDropdown()" class="text-right padding-left-15 pr-4 pb-1 pt-2 text-color font-14">
              DONE
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="data-border-sm text-center reset-btn">
      <div class="date-selection-2 d-flex justify-content-center cursor filter-date-section">
        <div class="filter-p filter-font">
          <div (click)="reset()">
            RESET
          </div>
          <div (click)="filter()">
            FILTERS
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="own-table-dashboard mb-3" *ngIf="usersList && usersList.length > 0">
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th scope="col" (click)="sort('firstName')">First<i *ngIf="filters.sort == 'firstName'"
                class='fas icon-space'
                [ngClass]="{'fa-arrow-down': filters.order == 'asc', 'fa-arrow-up': filters.order == 'desc'}"></i>
            </th>
            <th scope="col" (click)="sort('lastName')">Last<i *ngIf="filters.sort == 'lastName'"
                class='fas icon-space'
                [ngClass]="{'fa-arrow-down': filters.order == 'asc', 'fa-arrow-up': filters.order == 'desc'}"></i>
            </th>
            <th scope="col" (click)="sort('email')">Email<i *ngIf="filters.sort == 'email'" class='fas icon-space'
                [ngClass]="{'fa-arrow-down': filters.order == 'asc', 'fa-arrow-up': filters.order == 'desc'}"></i>
            </th>
            <th scope="col" (click)="sort('type')">Type<i *ngIf="filters.sort == 'type'" class='fas icon-space'
                [ngClass]="{'fa-arrow-down': filters.order == 'asc', 'fa-arrow-up': filters.order == 'desc'}"></i>
            </th>
            <th scope="col" (click)="sort('status')">Status<i *ngIf="filters.sort == 'status'" class='fas icon-space'
                [ngClass]="{'fa-arrow-down': filters.order == 'asc', 'fa-arrow-up': filters.order == 'desc'}"></i>
            </th>
            <th scope="col" (click)="sort('last_login')">Last Login<i *ngIf="filters.sort == 'last_login'"
                class='fas icon-space'
                [ngClass]="{'fa-arrow-down': filters.order == 'asc', 'fa-arrow-up': filters.order == 'desc'}"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersList" (click)="update(user)">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.type}}</td>
            <td>{{user.status}}</td>
            <td>{{user.last_login}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <mat-paginator itemsPerPageLabel="rows per page" (page)="pageChanged($event)" [length]="totalUsers"
      [pageSize]="30" [pageSizeOptions]="[5, 10, 20, 30, 50, 70, 100]">
    </mat-paginator>
  </section>
  <app-welcome-page *ngIf="!(usersList && usersList.length > 0)" (clear)="reset()"></app-welcome-page>
</div> -->