<app-auth-header></app-auth-header>
<section class="pt-5" *ngIf="isPage">
  <div class="container">
    <div class="">
      <form class="example-form form-own" #f="ngForm" (submit)="f.touched && f.valid && resetPassword()"
        autocomplete="off" novalidate>
        <div class="row justify-content-center mx-0">
          <div class="sign-in-screen-section">
            <div class="form-group pb-0"
              [ngClass]="{'error' :(f.submitted || pass.touched) &&(pass.hasError('minlength')  || pass.hasError('required')) }">
              <div class="pb-4 text-center form-heading">PASSWORD RESET</div>
              <mat-form-field class="example-full-width sign-input-2 mat-form-field"
                [ngClass]="{ 'error': f.submitted && !f.valid }" floatLabel="always">
                <mat-label>New Password</mat-label>
                <input class="mat-input-element mat-form-field-autofill-control" name="pass" matInput placeholder="" (keyup)="passwordChanged()" #pass="ngModel"
                  [(ngModel)]="password" type="password" autocomplete="off" minlength="6" maxlength="40" required>
              </mat-form-field>
            </div>
            <div class="light-black font-14">Please make sure your password has:</div>
            <div>
              <ul class="list-unstyled password-text-list font-12 pt-2">
                <li [ngClass]="{'error' : f.submitted  && password.length < 8, 'active' : password.length > 7 }">
                  At least 8 characters
                </li>
                <li [ngClass]="{'error' : f.submitted  && symbolMissing, 'active' : !symbolMissing  }">
                  With a Symbol
                </li>
                <li [ngClass]="{'error' : f.submitted && numberMissing, 'active' : !numberMissing  }">
                  A Number
                </li>
                <li [ngClass]="{'error' : f.submitted  && lowerCaseMissing, 'active' : !lowerCaseMissing  }">
                  And a lowercase letter .</li>
                <li [ngClass]="{'error' : f.submitted  && upperCaseMissing, 'active' : !upperCaseMissing }">
                  And a capital letter</li>
              </ul>
              <span *ngIf="message" class="mat-error" style="font-size:12px;">
                {{message}}
              </span>
            </div>
            <button mat-raised-button color="primary"
              class="bg-color mt-3 font-weight-500 w-100 sign-btn-size-12 sign-btn">SAVE & SIGN IN</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>