<section class="general-form">
  <div class="d-flex justify-content-between align-items-center">
    <h5>General Information</h5>
    <span>PM000012</span>
  </div>

  <div class="pt-5">
    <form class="form-own">
      <div class="form-group">
        <mat-form-field class="sign-input-2">
          <mat-label>Select an option</mat-label>
          <mat-select disableRipple>
            <mat-option [value]="1">Option 1</mat-option>
            <mat-option [value]="2">Option 2</mat-option>
            <mat-option [value]="3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width sign-input-2">
          <input matInput placeholder="Send Copies To">
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
          <mat-error>
            Please enter a valid email address
          </mat-error>
          <mat-error>
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width sign-input-2">
          <input matInput placeholder="Project Name *">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width sign-input-2">
          <input matInput placeholder="Catalog*">
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 filter-date-section">
          <div class="filter-items">
            <p class="filter-p">
              Filter by Date Submitted
            </p>
            <div class="date-selection d-inline-block">
              <i class='far fa-calendar'></i>
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker" placeholder="">
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="d-inline-block own-line">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker1" placeholder="">
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>
      <br>

    </form>
  </div>
</section>
<section class="general-form mt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h5>CONTRACTOR</h5>
  </div>
  <div class="pt-5">
    <form class="form-own">
      <div class="form-group">
        <mat-form-field class="example-full-width sign-input-2">
          <input matInput placeholder="Contractor Name *">
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
          <mat-error>
            *Please identify your contractor
          </mat-error>
          <mat-error>
            *Please identify your contractor
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width sign-input-2">
          <input matInput placeholder="Primary Contact Name *">
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width sign-input-2">
          <input matInput placeholder="Primary Contact Email *">
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width sign-input-2">
          <input matInput placeholder="Primary Contact Phone *">
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="form-group">
        <div class="option-radio">
          <p class="filter-font">Will Contractor Work Onsite? *</p>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button [value]="1">Option 1</mat-radio-button>
            <mat-radio-button [value]="2">Option 2</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="form-group">
        <div class="option-radio">
          <p class="filter-font">Contractor Insurance</p>
        </div>
      </div>
    </form>
  </div>
</section>