<!-- <div class="loader-wrapper"><div class="loader"></div></div> -->
<nav class="d-flex navbar-expand-md bg-nav my-nav header-section flex-wrap">
  <div class="d-flex w-100 align-items-center justify-content-between">
    <div class="d-flex align-items-center logo-wrapper">
      <a class="logo" (click)="gotoDashboard()">
          <img src="../assets/images/logo.png" class="img-fluid img-size">
      </a>
    </div>
    <div class="navbar-toggle collapsed">
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
      <span class="bar4"></span>
    </div>
    <div id="headerTitle" class="dashboard-heading" [title]="header">{{header}}</div>
    <div class="padding-right-15 dropdown account-dropdown active-account">
      <div class="text-white font-14 dropdown-account-name cursor ">
        {{username}}
      </div>
      <div class="dropdown-select-wrapper">
        <ul class="list-unstyled dropdown-items font-14">
          <li (click)="myProfile()">
            <button type="button" mat-raised-button class="w-100 print-submit-btn attachment-btn white-btn">
              <img src="../assets/images/profile.png" class="profile-img"><span class="pl-3">MY
                ACCOUNT</span></button>
          </li>
          <li (click)="logout()">
            <button type="button" mat-raised-button class="w-100 print-submit-btn attachment-btn white-btn">
              <img src="../assets/images/logout.png" class="profile-img"><span class="pl-3">LOGOUT</span></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="collapse navbar-collapse mobile-header-sub-menu new" id="bs-example-navbar-collapse-1"
    aria-expanded="false">
    <div class="animated fadeInDown delay1 new_des_border">
      <ul class="nav navbar-nav navbar-right">
        <li class="animated fadeInDown delay1 menu_mobile active"><a id="homelink" class="new_a active" href="javascript:;"><img
              _ngcontent-c4="" class="menu-icon-menu img-white" src="../assets/images/dashboard-w.png"><span>DASHBOARD</span></a></li>
        <li class="animated fadeInDown delay1 menu_mobile"><a href="javascript:;" class="new_a"><img
          _ngcontent-c4="" class="menu-icon-menu img-white" src="../assets/images/project-memo-w.png"><span>PROJECT</span></a></li>
          <li class="animated fadeInDown delay1 menu_mobile"><a href="javascript:;" class="new_a"><img
            _ngcontent-c4="" class="menu-icon-menu img-white" src="../assets/images/addendum-w.png"><span>ADDENDUM</span></a></li>
        <li class="animated fadeInDown delay1 menu_mobile"><a href="javascript:;"class="new_a"><img
          _ngcontent-c4="" class="menu-icon-menu img-white" src="../assets/images/user-w.png"><span>USER</span></a></li>
          <li (click)="myProfile()" class="animated fadeInDown delay1 menu_mobile">
            <a href="javascript:;"class="new-a">
              <img src="../assets/images/profile-w.png" class="menu-icon-menu"><span class="pl-0 pl-md-3 pl-lg-3 pl-xl-3">MY
                ACCOUNT</span></a>
          </li>
          <li (click)="logout()" class="animated fadeInDown delay1 menu_mobile">

            <a href="javascript:;"class="new-a"><img src="../assets/images/logout-w.png" class="menu-icon-menu"><span class="pl-0 pl-md-3 pl-lg-3 pl-xl-3">LOGOUT</span></a>
          </li>
      </ul>
    </div>
  </div>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Link</a>
        </li>
      </ul>
    </div>    -->
</nav>
<app-user-account [user]="user" *ngIf="displayForm" [isProfile]="true" (closes)="ModelClosed($event)">
</app-user-account>
