.header-section .navbar-nav>li>a {
    color: #ffffff;
}

.header-section .mobile-header .navbar-collapse,
.header-section .navbar-form {
    border-color: rgba(231, 231, 231, 0);
}

.header-section .navbar-toggle:focus,
.header-section .navbar-toggle:hover {
    background-color: transparent;
}

.header-section .mobile-header {
    height: 45px;
    background-color: black;
    border-color: transparent;
}

.mobile-header .navbar-nav>li>a:focus,
.mobile-header .navbar-nav>li>a:hover {
    color: #fff;
}

.mobile-header-sub-menu>ul {
    margin-top: 0;
    background: rgba(0, 0, 0, 0.26);
    margin-bottom: 0;
    padding-left: 30px;
}

@media (min-width:768px) {

    .header-section .mobile-header-sub-menu,
    .header-section .navbar-toggle {
        display: none !important;
    }
}

@media(max-width: 767px) {
    .main-body {
        padding-top: 45px;
    }

    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 350px !important;
        overflow-y: auto !important;
    }

    .header-section .mobile-header-sub-menu {
        background: rgba(0, 0, 0, 0.73);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }

    .header-section .navbar-brand>img {
        max-height: 40px;
    }

    .header-section a.navbar-brand {
        padding: 5px 15px;
    }

    .specialization-details-container>li {
        display: block !important;
        text-align: center !important;
    }

    .mobile-header-sub-menu ul {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mobile-header-sub-menu ul li {
        padding: 10px 0;
        text-align: left;
        position: relative;
        padding-left: 55px;
        padding-right: 15px;
        font-size: 14px;
    }

    .mobile-header-sub-menu ul li.active a {
        border-bottom: 1px solid #fff;
    }

    .mobile-header-sub-menu ul li:first-child {
        /*padding-top: 14px;*/
    }

    .technology-list-container>li img {
        padding: 8px;
        height: 40px;
    }

    .contact-form .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(204, 203, 203, 0.84);
        font-size: 13px;
    }

    .contact-form .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(204, 203, 203, 0.84);
        font-size: 13px;
    }

    .contact-form .form-control:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(204, 203, 203, 0.84);
        font-size: 13px;
    }

    .contact-form .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(204, 203, 203, 0.84);
        font-size: 13px;
    }

    .solution-heading {
        padding: 20px 2% 0;
    }

    .carousel-control.left span,
    .carousel-control.right span {
        font-size: 0 !important;
    }

    .service-section img {
        width: 60%;
    }
}

.navbar-toggle * {
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-toggle {
    color: #fff;
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 0px;
    border: none;
}

.navbar-toggle span {
    width: 20px;
    height: 2px;
    margin-bottom: 3px;
    background-color: #fff;
    display: block;
}

.navbar-toggle span.bar1 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform-origin: 1px 3px;
    -webkit-transform-origin: 1px 3px;
    -moz-transform-origin: 1px 3px;
    -o-transform-origin: 1px 3px;
    transform-origin: 1px 3px;
    width: 24px;
}

.navbar-toggle span.bar2 {
    -ms-transform: rotate(-360deg) scale(0);
    -webkit-transform: rotate(-360deg) scale(0);
    -moz-transform: rotate(-360deg) scale(0);
    -o-transform: rotate(-360deg) scale(0);
    transform: rotate(-360deg) scale(0);
}

.navbar-toggle span.bar3 {
    -ms-transform: rotate(360deg) scale(0);
    -webkit-transform: rotate(360deg) scale(0);
    -moz-transform: rotate(360deg) scale(0);
    -o-transform: rotate(360deg) scale(0);
    transform: rotate(360deg) scale(0);
}

.navbar-toggle span.bar4 {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform-origin: 2px 0px;
    -webkit-transform-origin: 2px 0px;
    transform-origin: 2px 0px;
    width: 24px;
}

.navbar-toggle.collapsed span.bar1,
.navbar-toggle.collapsed span.bar2,
.navbar-toggle.collapsed span.bar3,
.navbar-toggle.collapsed span.bar4 {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 20px;
}

.navbar-toggle:focus,
.navbar-toggle:hover,
.navbar-toggle {
    border-color: rgba(221, 221, 221, 0) !important;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    padding-right: 8px !important;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    overflow-x: hidden !important;
}

.nav>li>a {
    padding-left: 0 !important;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.delay1 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.delay2 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.delay3 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.new_des_border {
    border-right: 1px solid #ffffff;
}
