<app-auth-header></app-auth-header>
<!-- <div *ngIf="showAlert" _ngcontent-c1="" class="py-2 d-flex justify-content-between bg-nav text-color px-3 mx-3 my-3 ">
  <span _ngcontent-c1=""> {{message}}</span><span _ngcontent-c1="" (click)="closeAlert()"> CLOSE </span></div> -->
<section class="pt-5">
  <div class="container">
    <div class="">
      <form class="example-form  form-own" #f="ngForm" (submit)="f.touched && f.valid && reset()" autocomplete="off"
        novalidate>
        <div class="row justify-content-center mx-0">
          <div class="sign-in-screen-section">
            <div class="form-group"
              [ngClass]="{'error' : (f.submitted || mail.touched) && (mail.hasError('email')  || mail.hasError('required')) }">
              <div class="pb-4 text-center form-heading">REQUEST PASSWORD RESET</div>
              <mat-form-field class="example-full-width sign-input-2 mat-form-field" floatLabel="always">
                <mat-label>Email</mat-label>
                <input class="mat-input-element mat-form-field-autofill-control" name="username" type="text" email matInput placeholder="" #mail="ngModel" [(ngModel)]="email"
                  maxlength="240" minlength="5" required autocomplete="off">
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                <mat-error *ngIf="mail.hasError('minlength') && !mail.hasError('email') && !mail.hasError('required')">
                  Email should be atleast 5 character long
                </mat-error>
                <mat-error *ngIf="mail.hasError('email') && !mail.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="mail.hasError('required')">
                  Please enter your email address to reset password
                </mat-error>
              </mat-form-field>
              <span *ngIf="message" class="mat-error" style="font-size:12px;">
                {{message}}
              </span>
            </div>
            <button mat-raised-button color="primary" class="bg-color mt-3 mb-4 sign-btn-size-12 sign-btn">RESET
              PASSWORD</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>