<div class="modal show uniqueModal" cdkScrollable  data-backdrop="static" [id]="isProfile ? 'userProfile' : 'userModal'"
  style="padding-right:0">
  <div class="modal-dialog">
    <div class="modal-content">
      <section class="general-form px-3">
        <h5 class="pt-3"> {{ isProfile? 'MY ACCOUNT' : 'USER ACCOUNT'}}</h5>
        <div class="pt-3">
          <input type="text" class="firstFocus">
          <form class="form-own form-own-lg" #f="ngForm" (submit)="submitFormValid(); (f.valid && save())" autocomplete='off' novalidate>
         <!-- Email If userRole Not Equal Standard -->
            <div class="form-group" *ngIf="userRole!='Standard'">
                <div class="row align-items-start">
                  <div class="col-12 ">
                    <mat-form-field class="example-full-width sign-input-2 input-icon" floatLabel="always">
                      <mat-label>Email *</mat-label>
                      <input type="text" placeholder="" (change)="validateContact()"
                        (keyup)="FilterContact($event.target.value)" name="email" (focus)="focus(4)" (blur)="blur()"
                        [(ngModel)]="user.email" #email="ngModel" matInput [matAutocomplete]="autoa2" autocomplete="off" required>
                      <mat-autocomplete #autoa2="matAutocomplete" [displayWith]="displayFn"
                        (optionSelected)='contactSelected($event.option)'>
                        <mat-option *ngFor="let option of rightlineListOptions" [value]="option.contactemail">
                          {{option.contactemail}} - {{option.contact_name}}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-error>
                        *Please select a Contact, if you don’t see what you are looking for contact Business
                        Affairs.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
                <!-- Name  -->
              <div class="form-group">
              <div class="row">
                <div class="col-12 shadow-back">
                  <p> Name: {{ user.firstName}}</p>
                </div>
              </div>
              </div>
            <!-- Email If userRole Standard -->
              <div class="form-group shadow-back"*ngIf="userRole=='Standard'">
                <div class="row">
                  <div class="col-12 ">
                    <p> Email: {{ user.email}}</p>
                  </div>
                </div>
                </div>
            <!-- Right Line Conatct Id -->
            <div class="form-group">
            <div class="row">
                <div class="col-12 shadow-back" [ngClass]="{'missing': user.is_deleted || !user.rightline_id}">
                   RightsLine Contact Id: {{user.rightline_id}}  <span *ngIf="user.is_deleted  || !user.rightline_id">MISSING</span>
                </div>
              </div>
            </div>
            <!-- User Type -->
            <div class="form-group" *ngIf="!isProfile"
              [ngClass]="{'active': id === 1, 'error' : (f.submitted || type.touched) && (type.hasError('required'))}"
              id="1">
              <div class="row">
                <div class="col-12">
                  <mat-form-field class="sign-input-2" floatLabel="always">
                    <mat-label>User Type</mat-label>
                    <mat-select [(ngModel)]="user.type" name="type" #type="ngModel" disableRipple placeholder="_ _"
                      (focus)="focus(1)" (blur)="blur()" required>
                      <mat-option (click)="dirty()" value="Standard">
                        Standard
                      </mat-option>
                      <mat-option (click)="dirty()" value="Business Affairs">
                        Business Affairs
                      </mat-option>
                    </mat-select>
                    <mat-error>
                      *Please select a user type for this user
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- Account Status -->
            <div class="form-group padding-bottom-35" *ngIf="!isProfile" id="2"
              [ngClass]="{'error' : f.submitted && status.hasError('required'), 'active': id === 2 }">
              <div class="row">
                <div class="col-12" (mouseenter)="focus(2)" (mouseleave)="blur()">
                  <div class="option-radio margin-bottom-20">
                    <p class="filter-font">Account Status</p>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="user.status" name="status"
                      #status="ngModel" required>
                      <mat-radio-button (click)="dirty()" value="Active"> Active </mat-radio-button>
                      <mat-radio-button (click)="dirty()" value="Inactive"> Inactive </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <mat-error *ngIf="f.submitted && status.hasError('required')">
                    Please select status
                  </mat-error>
                </div>
              </div>
            </div>
            <!-- Password -->
            <div class="form-group"
              [ngClass]="{'error' : (f.submitted || passs.touched) && (passs.hasError('required')) }">
              <div class="row">
                <div class="col-12 ">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <mat-label>New Password
                      <span *ngIf="!isProfile && (!isProfile && user.id)">(optional)</span>
                    </mat-label>
                    <input autocomplete="new-password" type="password" matInput placeholder="" name="pwd" #passs="ngModel"
                      [required]="!user.id" [(ngModel)]="user.password" (keyup)="dirty(); passwordChanged()">
                  </mat-form-field>
                  <div class="light-black font-14">Please make sure your password has:</div>
                  <div>
                    <ul class="list-unstyled password-text-list font-12 pt-2">
                      <li
                        [ngClass]="{'error' : f.submitted && ( user.password  || !user.id) && user.password.length < 8, 'active' :user. password.length > 7 }">
                        At least 8 characters
                      </li>
                      <li
                        [ngClass]="{'error' : f.submitted && ( user.password  || !user.id) && symbolMissing, 'active' : !symbolMissing  }">
                        With a Symbol
                      </li>
                      <li
                        [ngClass]="{'error' : f.submitted && (user.password  || !user.id) && numberMissing, 'active' : !numberMissing  }">
                        A Number
                      </li>
                      <li
                        [ngClass]="{'error' : f.submitted &&( user.password  || !user.id) && lowerCaseMissing, 'active' : !lowerCaseMissing  }">
                        And a lowercase letter .</li>
                      <li
                        [ngClass]="{'error' : f.submitted &&( user.password  || !user.id) && upperCaseMissing, 'active' : !upperCaseMissing }">
                        And a capital letter</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Cancel And Close Button -->
            <div class="row px-0">
              <div class="col-sm-6 col-12 mb-3 mb-md-0">
                <button type="button" mat-raised-button color="" (click)="closeModel()"
                  class="w-100 white-btn">CANCEL</button>
              </div>
              <div class="col-sm-6 col-12">
                <button mat-raised-button color="primary" class="w-100">SAVE</button>
              </div>
              <div *ngIf="!isProfile && (!isProfile && user.id) && (currentUserRole == 'Super Admin')"
                class="pt-3 px-3 font-14">
                <div (click)="openDeleteModal()" class="d-inline-block px-2 cursor font-weight-500">DELETE</div>
              </div>
            </div>
          </form>
          <input type="text" class="lastFocus">
        </div>
      </section>
    </div>
  </div>
</div>
<div class="modal confirmation-modal" id="confirmationModal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal body -->
      <input type="text" class="firstFocus">
      <div class="modal-body font-14">
        <div class="pb-3 text-color font-16 font-weight-500">{{confirmationHeader}}</div>
        <div> {{confirmationMessage}}</div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button id="confirmation-modal-cancle" type="button" mat-raised-button color=""
          class="w-100  white-btn cancel-btn">CANCEL</button>
        <button mat-raised-button color="primary" class=" w-100" (click)="delete()">{{confirmationButtonText}}</button>
      </div>
      <input type="text" class="lastFocus">
    </div>
  </div>
</div>
<div class="modal confirmation-modal" id="confirmationUnsaved" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal body -->
      <input type="text" class="firstFocus">
      <div class="modal-body font-14">
        <div class="pb-3 text-color font-16 font-weight-500">Unsaved Changes</div>
        <div> You have unsaved changes. Are you sure you want to discard these changes? </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" mat-raised-button (click)="closeConfirmationUnsaved()"
          class="w-100 white-btn cancel-btn">Discard Changes</button>
        <button mat-raised-button color="primary" class="w-100" (click)="cancleConfirmationUnsaved()">Cancel</button>
      </div>
      <input type="text" class="lastFocus">
    </div>
  </div>
</div>