
/* Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-dialog{
    margin: 2.75rem auto;
}

.missing {
    color: #f88100;
    font-weight: 200;
    font-size: inherit;
}

.shadow-back {
    /* text-shadow:rgba(0,0,0,0.20) 1px 0 10px !important; */
}