<section id="mydashboard" class="dashboard-section">

  <nav class="navbar-bottam bg-dark">
    <div class="container-fluid">
      <button mat-raised-button color="primary" class="bg-color space-left"><img src="../assets/images/addendum.png"
          class="dashboard-img active">PROJECT MEMO</button>
      <button mat-raised-button color="primary" class="bg-color space-left"><img src="../assets/images/addendum.png"
          class="dashboard-img active">ADDENDUM</button>
      <div class="input-group search-btn space-left" style="height:33px;">
        <div style="position:relative;">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <div class="input-group-btn search-btn-icon" style="height:33px;">
          <button class="btn btn-default" type="submit">
            <i style='font-size:18px' class='fas'>&#xf002;</i>
          </button>
        </div>
      </div>
    </div>
  </nav>

</section>
