<section class="dashboard-section">
        <div class="container-fluid">
                <div class="">
                        <div class=" text-center pt-4">
                                <div class="pb-3 heading-6 light-black font-weight-500">
                                        PAGE NOT FOUND
                                </div>
                                <div class="pb-3 font-14 medium-black">
                                        <span class="light-blue cursor">GO TO DASHBOARD</span>
                                </div>
                        </div>
                </div>
        </div>
</section>