<aside class="sidebar-menu">
  <ul class="list-unstyled sidebar-items font-14">
    <li title="Dashboard" (click)="dashboard()" class="cursor" [class.active]="isActive(['dashboard', ''])">
      <img src="../assets/images/dashboard-w.png" class="dashboard-img img-white">
      <img src="../assets/images/dashboard-b.png" class="dashboard-img img-blue ">
      <span class="items-name text-uppercase">Dashboard</span>
    </li>
    <!-- <li routerLink="/dashboard/addendum" [routerLinkActive]="['active']">
      <img src="../assets/images/project-memo-w.png" class="dashboard-img img-white">
      <img src="../assets/images/project-memo-b.png" class="dashboard-img img-blue ">
      <span class="items-name text-uppercase">Addendum</span>
    </li> -->
    <li *ngIf="!showUsers" title="Project Memo" class="cursor" (click)="newproject()" [class.active]="isActive(['project', ''])">
      <img src="../assets/images/project-memo-w.png" class="dashboard-img img-white">
      <img src="../assets/images/project-memo-b.png" class="dashboard-img img-blue ">
      <span class="items-name text-uppercase">Project Memo</span>
    </li>
    <li *ngIf="!showUsers" title="Addendum" class="cursor" (click)="addendum()" [class.active]="isActive(['addendum', ''])">
      <div style="pointer-events: none;">
        <img src="../assets/images/addendum-w.png" class="dashboard-img img-white">
        <img src="../assets/images/addendum-b.png" class="dashboard-img img-blue ">
        <span class="items-name text-uppercase">Addendum</span>
      </div>
    </li>
    <li *ngIf="showUsers" title="Users" class="cursor" (click)="usersList()" routerLink="/users" [routerLinkActive]="['active']">
      <img src="../assets/images/user-w.png" class="dashboard-img img-white">
      <img src="../assets/images/user-b.png" class="dashboard-img img-blue ">
      <span class="items-name text-uppercase">Users</span>
    </li>
  </ul>
  <span class="right-sidebar-icon "><img src="../assets/images/36-Filled.png" class="sidebar-menu-icon"></span>
</aside>