#dvContents {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
}

h1 {
    font-size: 22px;
    font-weight: 300;
    color: #202020;
    margin: 0;
}

h2 {
    color: #202020;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 20px;
}

.float-right {
    float: right;
}

.page-footer, .page-footer-space {
    padding-top: 5px;
    height: 30px;
}

.page-header, .page-header-space {
    height: 30px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
}

.page {
    page-break-after: always;
}

@page {
    size: auto;
    margin: 5mm 5mm;
}

@media print {
    thead {
        display: table-header-group;
    }
    tfoot {
        display: table-footer-group;
    }
    body {
        margin: 0;
    }
    section {
        padding: 10px 10px;
    }
    .page-header, .page-footer {
        display: block !important;
    }
}

.page-header, .page-footer {
    display: none;
}

.text-dark {
    font-size: 14px;
    color: #202020 !important;
    margin-bottom: 14px;
}

.mb-0 {
    margin-bottom: 0;
}

.print-wrapper {
    padding: 0 50px;
}