<div class="modal show" id="printProjectModal">
  <div class="modal-dialog modal-print-memo">
    <div class="modal-content ">
      <div class="modal-header modal-heading">
        <div>
          <button type="button" mat-raised-button color="primary" (click)="print()"
            class="complete-form-submit ml-2 mb-2">PRINT</button>
          <button *ngIf="project.attachment.length > 0" mat-raised-button color="" type="button" (click)="download()"
            class="print-submit-btn white-btn ml-2">DOWNLOAD ALL ATTACHMENTS</button>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <section id="dvContents" class="general-form px-3 py-xl-5 py-lg-5 py-md-4 py-sm-3">
        <div class="page-header">
          Project Memo {{projectId}}
          <div class="float-right">Status:
            {{ project.pmStatus == 'Submitted' && !(userRole == 'Standard') ? 'Needs Pickup' :  project.pmStatus }}
          </div>
        </div>
        <div class="page-footer">
          Exported on: {{ today | date : 'MM/dd/yyyy' }}
          <div class="float-right">
            <span id="pageFooter" class="page-counter">
            </span>
          </div>
        </div>
        <table #table id="tableContent" style="width: 100%;">
          <thead>
            <tr>
              <td>
                <!--place holder for the fixed-position header-->
                <h6 class="page-header-space"></h6>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="print-wrapper">
                  <div class="print-header">
                    <h1 *ngIf="project.contractorCompanyName && project.catalog && project.from">
                      Project Memo for
                      {{project.contractorCompanyName? project.contractorCompanyName : '[vender name]'}}
                      on {{project.catalog ? project.catalog : '[project catalog]'}}
                      from {{project.from ? project.from : '[user name]'}}
                    </h1>
                    <h1 *ngIf="!(project.contractorCompanyName && project.catalog && project.from)">
                      Project Memo {{projectId}}
                    </h1>
                    <div>{{projectId}}</div>
                  </div>
                  <div class="information-group">
                    <h2 class="text-uppercase">GENERAL INFORMATION</h2>
                    <div>Assigned To </div>
                    <div class="text-dark">
                      {{project.assignedUser ? project.assignedUser : '- -'}}
                    </div>
                    <div>In CC</div>
                    <div class="text-dark">
                      <div *ngIf="project.mailList.length == 0" class="font-14 text-justify">
                        - -
                      </div>
                      <div *ngIf="project.mailList.length > 0" class="font-14 text-justify">
                        <span *ngFor="let p of project.mailList;let i = index"> {{p.email}}<span
                            *ngIf="i < (project.mailList.length - 1)">,</span></span>
                      </div>
                    </div>
                    <div>Project Name</div>
                    <div class="text-dark">
                      {{project.projectName? project.projectName :'- -'}}
                    </div>
                    <div>Catalog</div>
                    <div class="text-dark">
                      {{project.catalog ? project.catalog : '- -'}}
                    </div>
                    <div>Effective Dates
                    </div>
                    <div class="text-dark">
                      From {{ project.effectiveDate ? (project.effectiveDate | date : 'MM/dd/yy') : ' - - ' }}
                      to {{ project.expirationDate ? (project.expirationDate | date : 'MM/dd/yy') : ' - - ' }}
                    </div>
                    <h2>CONTRACTOR</h2>
                    <div>
                      Contractor Name
                    </div>
                    <div class="text-dark">
                      {{project.contractorCompanyName ? project.contractorCompanyName : '- -'}}
                    </div>
                    <div>
                      Primary Contact Name
                    </div>
                    <div class="text-dark">
                      {{project.contractorContactName ? project.contractorContactName : '- -'}}
                    </div>
                    <div>
                      Primary Contact Email
                    </div>
                    <div class="text-dark">
                      {{project.contractorContactEmail ? project.contractorContactEmail : '- -'}}
                    </div>
                    <div>
                      Primary Contact Phone
                    </div>
                    <div class="text-dark">
                     
                   <span *ngIf="codeSelected">{{codeSelected.code}}</span><span *ngIf="project.contractorContactPhone && codeSelected"> {{project.contractorContactPhone|tel:'hh': codeSelected.code}}</span> <span *ngIf="!project.contractorContactPhone">- -</span>
                    </div>
                    <div>
                      Will Contractor Work Onsite?
                    </div>
                    <div class="text-dark">
                      {{project.contractorWorkOnsite == true ? 'Yes' : project.contractorWorkOnsite == false ? 'No' : '- -'}}
                    </div>
                    <div>
                      Contractor Insurance
                    </div>
                    <div class="text-dark">
                      <span *ngIf="project.contractorInsuranceGeneral">
                        General Liability,
                      </span>
                      <span *ngIf="project.contractorInsuranceEnO">
                        E & O,
                      </span>
                      <span *ngIf="project.contractorInsuranceProduction">
                        Worker's Comp,
                      </span>
                      <span *ngIf="project.contractorInsuranceWorkersComp">
                        Production Insurance,
                      </span>
                    </div>
                    <h2>SERVICES / DELIVERABLES / PAYMENT</h2>
                    <div>
                      Contractor's Service
                    </div>
                    <div class="text-dark">
                      {{project.contractorServices ? project.contractorServices : '- -'}}
                    </div>
                    <div>
                      Approximate Hours of Work
                    </div>
                    <div class="text-dark">
                      {{project.approxHours ? project.approxHours : '- -'}}
                    </div>
                    <div>
                      Deliverables
                    </div>
                    <div class="text-dark">
                      {{project.deliverablesDescription ? project.deliverablesDescription : '- -'}}
                    </div>
                    <div>
                      Delivery Schedule
                    </div>
                    <div class="text-dark">
                      {{project.deliverySchedule ? project.deliverySchedule : '- -'}}
                    </div>
                    <div>
                      Total Fee
                    </div>
                    <div class="text-dark">
                      {{project.totalFees ? project.totalFees : '- -'}}
                    </div>
                    <div>
                      Payment Schedule
                    </div>
                    <div class="text-dark">
                      {{project.paymentSchedule ? project.paymentSchedule : '- -'}}
                    </div>
                    <h2>CONTENT</h2>
                    <div>
                      Ownership of Deliverables
                    </div>
                    <div class="text-dark">
                      {{project.ownershipOfDeliverables ? project.ownershipOfDeliverables : '- -'}}
                    </div>
                    <div>
                      Rights Licensed by Contractor (if any)
                    </div>
                    <div class="text-dark">
                      {{project.rightsLicensedByContractor ? project.rightsLicensedByContractor : '- -'}}
                    </div>
                    <div>
                        Intentended Use by Participant
                      </div>
                      <div class="text-dark">
                        {{project.intendedUseByParticipant ? project.intendedUseByParticipant : '- -'}}
                      </div>
                    <div>
                      Intentended Use by Contractor
                    </div>
                    <div class="text-dark">
                      {{project.intendedUseByContractor ? project.intendedUseByContractor : '- -'}}
                    </div>
                    <div>
                      Third Party Assets to be Included
                    </div>
                    <div class="text-dark">
                      {{project.thirdPartyAssets ? 'Yes' : !project.thirdPartyAssets? 'No' : '- -'}}
                    </div>
                    <div>Attachments</div>
                    <div *ngFor="let p of project.attachment" class="text-dark mb-0">
                      {{p.file}}
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <!--place holder for the fixed-position footer-->
                <div class="page-footer-space"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </section>
    </div>
  </div>
</div>

<!-- 

<div *ngIf="false" class="">
    <section class="pl-3 pl-sm-3 pl-3 pl-md-5 pl-lg-5">
      <div class="padding-details-lg">
        <div *ngIf="project.contractorCompanyName && project.catalog && project.from"
          class="main-heading font-weight-300">
          Project Memo for {{project.contractorCompanyName? project.contractorCompanyName : '[vender name]'}}
          on {{project.catalog ? project.catalog : '[project catalog]'}}
          from {{project.from ? project.from : '[user name]'}}
        </div>
        <div *ngIf="!(project.contractorCompanyName && project.catalog && project.from)"
          class="main-heading font-weight-300">
          Project Memo {{projectId}}
        </div>
        <div class="light-black font-14 text-justify">{{projectId}}</div>
      </div>
      <section>
        <div class="pb-1">
          <div class="heading-5 padding-details-md font-weight-500">
            GENERAL INFORMATION
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Assigned To
            </div>
            <div class="font-14 text-justify">
              {{project.assignedUser ? project.assignedUser : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              In CC
            </div>
            <div *ngIf="project.mailList.length == 0" class="font-14 text-justify">
              - -
            </div>
            <div *ngIf="project.mailList.length > 0" class="font-14 text-justify">
              <span *ngFor="let p of project.mailList;let i = index"> {{p.email}}<span
                  *ngIf="i < (project.mailList.length - 1)">,</span></span>
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Project Name
            </div>
            <div class="font-14 text-justify">
              {{project.projectName? project.projectName :'- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Catalog
            </div>
            <div class="font-14 text-justify">
              {{project.catalog ? project.catalog : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Effective Dates
            </div>
            <div class="font-14 text-justify">
              From {{ project.effectiveDate ? (project.effectiveDate | date : 'MM/dd/yy') : ' - - ' }}
              to {{ project.expirationDate ? (project.expirationDate | date : 'MM/dd/yy') : ' - - ' }}
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="pb-1">
          <div class="heading-5 padding-details-md font-weight-500">
            CONTRACTOR
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Contractor Name
            </div>
            <div class="font-14 text-justify">
              {{project.contractorCompanyName ? project.contractorCompanyName : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Primary Contact Name
            </div>
            <div class="font-14 text-justify">
              {{project.contractorContactName ? project.contractorContactName : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Primary Contact Email
            </div>
            <div class="font-14 text-justify">
              {{project.contractorContactEmail ? project.contractorContactEmail : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Primary Contact Phone
            </div>
            <div class="font-14 text-justify">
              {{project.contractorContactPhone ? project.contractorContactPhone : '- -' }}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Will Contractor Work Onsite?
            </div>
            <div class="font-14 text-justify">
              {{project.contractorWorkOnsite == true ? 'Yes' : project.contractorWorkOnsite == false ? 'No' : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Contractor Insurance
            </div>
            <div class="font-14 text-justify">
              <span *ngIf="project.contractorInsuranceGeneral">
                General Liability,
              </span>
              <span *ngIf="project.contractorInsuranceEnO">
                E & O,
              </span>
              <span *ngIf="project.contractorInsuranceProduction">
                Worker's Comp,
              </span>
              <span *ngIf="project.contractorInsuranceWorkersComp">
                Production Insurance,
              </span>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="pb-1">
          <div class="heading-5 padding-details-md font-weight-500">
            SERVICES / DELIVERABLES / PAYMENT
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Contractor's Service
            </div>
            <div class="font-14 text-justify">
              {{project.contractorServices ? project.contractorServices : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Approximate Hours of Work
            </div>
            <div class="font-14 text-justify">
              {{project.approxHours ? project.approxHours : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Deliverables
            </div>
            <div class="font-14 text-justify">
              {{project.deliverablesDescription ? project.deliverablesDescription : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Delivery Schedule
            </div>
            <div class="font-14 text-justify">
              {{project.deliverySchedule ? project.deliverySchedule : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Total Fee
            </div>
            <div class="font-14 text-justify">
              {{project.totalFees ? project.totalFees : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Payment Schedule
            </div>
            <div class="font-14 text-justify">
              {{project.paymentSchedule ? project.paymentSchedule : '- -'}}
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="pb-1">
          <div class="heading-5 padding-details-md font-weight-500">
            CONTENT
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Ownership of Deliverables
            </div>
            <div class="font-14 text-justify">
              {{project.ownershipOfDeliverables ? project.ownershipOfDeliverables : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Rights Licensed by Contractor (if any)
            </div>
            <div class="font-14 text-justify">
              {{project.rightsLicensedByContractor ? project.rightsLicensedByContractor : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Intentended Use by Contractor
            </div>
            <div class="font-14 text-justify">
              {{project.intendedUseByContractor ? project.intendedUseByContractor : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Intentended Use by Participant
            </div>
            <div class="font-14 text-justify">
              {{project.intendedUseByParticipant ? project.intendedUseByParticipant : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Third Party Assets to be Included
            </div>
            <div class="font-14 text-justify">
              {{project.thirdPartyAssets == true ? 'Yes' : project.thirdPartyAssets == false ? 'No' : '- -'}}
            </div>
          </div>
          <div class="padding-details-sm">
            <div class="light-black font-15">
              Attachments
            </div>
            <div *ngFor="let p of project.attachment" class="font-14 text-justify">
              {{p.file}}
            </div>
          </div>
        </div>
      </section>
    </section>
  </div> -->