<div id="mydashboard" class="dashboard-section">
    <div class="container-own own-dashboard-section">

        <section class="general-form ">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="pt-3">General Information</h5>
                <h5 class="pt-3">PM000012</h5>
            </div>

            <div class="pt-3">
                <form class="form-own">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="date-filter">
                                    <div class="filter-items ">
                                        <span class="filter-p">
                                            Filter by Date Submitted
                                        </span>
                                        <div class="date-picker-wrapper">

                                            <div class="date-selection right-arrow own-line col-6 d-flex justify-content-center">

                                                <div>
                                                    <!-- <i class='far fa-calendar calender-icon'></i> -->
                                                    <img src="assets/images/cal-icon.png" class='calender-icon'>
                                                </div>
                                                <mat-form-field class="example-full-width" floatLabel="never">
                                                    <input matInput (focus)="picker.open()" [matDatepicker]="picker"
                                                        placeholder="start date">
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                                <div class="material-icon-section">
                                                    <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_left</mat-icon>
                                                    <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
                                                </div>
                                            </div>
                                            <div class=" date-selection col-6 d-flex justify-content-center align-items-end">
                                                <mat-form-field class="example-full-width" floatLabel="never">
                                                    <input matInput (focus)="pickera.open()" [matDatepicker]="pickera"
                                                        placeholder="end date">
                                                    <mat-datepicker #pickera></mat-datepicker>
                                                </mat-form-field>
                                                <div class="material-icon-section">
                                                    <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_left</mat-icon>
                                                    <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="sign-input-2">
                                    <mat-label>Select an option</mat-label>
                                    <mat-select disableRipple>
                                        <mat-option [value]="1">Option 1</mat-option>
                                        <mat-option [value]="2">Option 2</mat-option>
                                        <mat-option [value]="3">Option 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>


                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row align-items-start">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                                <mat-form-field class="example-full-width sign-input-2 sign-input-3 wrapper-padding multiple-email-own" floatLabel="always">
                                    <div class="attachment-section-1">
                                        <ul class="d-list-item attachment-items list-unstyled">
                                            <li><span>scope.jpg <img src="../assets/images/close-icon.png" class="close-icon"></span></li>
                                            <li><span>scope.jpg <img src="../assets/images/close-icon.png" class="close-icon"></span></li>

                                            <li class="input-wrapper"> <input matInput placeholder="Send Copies To"></li>
                                        </ul>
                                    </div>

                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                    <mat-error>
                                        Please enter a valid email address
                                    </mat-error>
                                    <mat-error>
                                        Email is <strong>required</strong>
                                    </mat-error>

                                </mat-form-field>
                            </div>
                            <div class="col-6">

                                <div class="tooltip-box py-2 px-3 active">
                                    <div>Make sure to CC others who need to be in ‘the know’:</div>
                                    <ul class="tooltip-items list-unstyled">

                                        <li>Department heads</li>
                                        <li>Other relevant personnel</li>

                                    </ul>
                                    <div class="pb-3">Enter their email addresses here.</div>
                                    <div><span>Tip</span> : <i>For Participant Media personnel you can also start
                                            typing their name and select from existing matches.</i> </div>
                                </div>

                            </div>

                        </div>



                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Project Name *">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Catalog*">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="general-form mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="pt-3">CONTRACTOR</h5>
            </div>

            <div class="pt-3">
                <form class="form-own">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Contractor Name *">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                    <mat-error>
                                        *Please identify your contractor
                                    </mat-error>
                                    <mat-error>
                                        *Please identify your contractor
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Primary Contact Name *">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                </mat-form-field>
                            </div>
                            <app-project-memo-form></app-project-memo-form>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Primary Contact Email *">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Primary Contact Phone *">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </div>


                    <div class="form-group pb-3">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="option-radio filter-items">
                                    <div class="filter-p">Will Contractor Work Onsite? *</div>
                                    <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button value="1"> Yes </mat-radio-button>
                                        <mat-radio-button value="2"> No </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group pt-4">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="option-radio filter-items">
                                    <span class="filter-p">Contractor Insurance</span>
                                    <ul class="list-unstyled">
                                        <li>
                                            <mat-checkbox>GENERAL LIABILITY</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox>E & O</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox>WORKER'S COMP</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox>PRODUCATION INSURANCE</mat-checkbox>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </section>
        <section class="general-form mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="pt-3">SERVICES / DELIVERABLES / PAYMENT</h5>
            </div>

            <div class="pt-3">
                <form class="form-own">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Contractor Name *">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                    <mat-error>
                                        *Please identify your contractor
                                    </mat-error>
                                    <mat-error>
                                        *Please identify your contractor
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Approximate Hours of Work *">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Deliverables *">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Delivery Schedule *">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Total Fee *">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Payment Schedule *">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </section>
        <section class="general-form mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Content</h5>

            </div>

            <div class="pt-4">
                <form class="form-own">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Ownership of Deliverables">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                    <mat-error>
                                        *Please identify your contractor
                                    </mat-error>
                                    <mat-error>
                                        *Please identify your contractor
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Rights Licensed by Contractor (if any)">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Intended Use by Contractor">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Intended Use by Participant">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Assets Provided by Participant">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                    </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                                    <input matInput placeholder="Assets Provided by Contractor">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="option-radio filter-items">
                                    <p class="filter-p">Third Party Assets to be Included</p>
                                    <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button value="1"> Yes </mat-radio-button>
                                        <mat-radio-button value="2"> No </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="option-radio filter-items download-attachments">
                                    <p class="filter-p">Attachments</p>
                                    <div class="attachment-section">
                                        <ul class="d-list-item attachment-items list-unstyled">
                                            <li><span>scope.jpg <img src="../assets/images/close-icon.png" class="close-icon"></span></li>
                                            <li><span>scopkkkkkkke.jpg <img src="../assets/images/close-icon.png" class="close-icon"></span></li>
                                            <li><span>scope111.jpg <img src="../assets/images/close-icon.png" class="close-icon"></span></li>
                                        </ul>
                                    </div>
                                    <div class=" white-btn-main  d-flex justify-content-between">
                                        <div>
                                            <button mat-raised-button color="" class="print-submit-btn font-weight-600  white-btn">ADD
                                                ATTACHMENTS</button>
                                        </div>
                                        <div>
                                            <button mat-raised-button color="" class="print-submit-btn font-weight-600  white-btn">DOWNLOAD
                                                ALL</button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </section>

        <div class=" white-btn-main pt-4 d-flex justify-content-between">
            <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-sm-12">
                <button mat-raised-button color="primary" class="font-weight-500 bg-color  w-100 sign-btn-size-12 sign-btn">SUBMIT</button>


            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <button mat-raised-button color="" class="w-100 print-submit-btn  white-btn">DELETE PROJECT MEMO</button>

            </div>
        </div>
    </div>
</div>
