<form class="form-own" #f="ngForm"  novalidate>
  <fieldset [disabled]="formDisabled">
    <section class="dashboard-section">
      <nav class="navbar-bottam">
        <div class="container-own">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md">
              <p class="light-gray">Status: <span  [class.light-blue]="userRole=='Standard'">
                  {{project.pmStatus == 'Submitted' && !(userRole == 'Standard') ? 'Needs Pickup' :  project.pmStatus }}</span>
              </p>
            </div>
            <div class="print-memo-submit col-auto">
              <div class="light-gray print-memo-change">
                <div *ngIf="savingProgress" class="px-1">Saving...</div>
                <div *ngIf="!(isFormDirty || isUploadIncomplete) && !savingProgress" class="px-1">All Changes Saved
                </div>
                <div *ngIf="!savingProgress && (isFormDirty || isUploadIncomplete)" class="px-1">Saving</div>
                <div (click)="print()" class="px-3">
                  <img src="../assets/images/print-icon.png" class="cursor print-img">
                </div>
                <div *ngIf="userRole == 'Standard'" class="pl-1">
                  <button *ngIf="project.pmStatus == 'Draft'" type="button" (click)="(f.submitted = true); submit()"
                    mat-raised-button color="primary" class="bg-color print-submit-btn">Submit</button>
                  <button disabled *ngIf="project.pmStatus == 'Submitted' || project.pmStatus == 'Assigned'"
                    type="button" mat-raised-button color="primary" disabled
                    class="bg-color print-submit-btn">Submitted</button>
                  <span (click)="addAddendum()">
                    <button *ngIf="project.pmStatus == 'Accepted'" type="button" mat-raised-button color="primary"
                      class="bg-color print-submit-btn">Addendum</button>
                  </span>
                </div>
                <div *ngIf="userRole !== 'Standard'" class="pl-1">
                  <button *ngIf="project.pmStatus == 'Draft'" type="button" mat-raised-button color="primary"
                    class="bg-color print-submit-btn" disabled>Submit</button>
                  <button *ngIf="project.pmStatus == 'Submitted' || project.pmStatus == 'Assigned'" type="button"
                    mat-raised-button color="primary" class="bg-color print-submit-btn"
                    (click)="(f.submitted = true); submit()">Submit</button>
                  <button *ngIf="project.pmStatus == 'Accepted'" type="button" mat-raised-button color="primary"
                    class="bg-color print-submit-btn" disabled>Accepted</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </section>
    <!-- Form -->
    <div id="mydashboard" class="dashboard-section">
      <div class="container-own own-dashboard-section">
        <section class="general-form ">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="heading-5 font-weight-500">GENERAL INFORMATION</h5>
            <h5 class="heading-5 font-weight-500">{{projectId}}</h5>
        
          </div>
          <div class="pt-3">
            <!-- Assigned To -->
            <div class="form-group" [ngClass]="{
                          'active': id === 1,
                          'error' : userRole !== 'Standard' && (f.submitted || assignTo.touched) && !assignTo.valid,
                          'disabled' : formDisabled || userRole === 'Standard' || (userRole !== 'Standard' && project.pmStatus == 'Draft')
                         }" id="1">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="sign-input-2" floatLabel="always">
                    <mat-label>Assigned To</mat-label>
                    <input type="text" placeholder="" autocomplete="on" (focus)="focus(1,undefiend)" (blur)="blur()"
                      name="contractorCompanyName"
                      [disabled]="formDisabled || userRole === 'Standard' || (userRole !== 'Standard' && project.pmStatus == 'Draft')"
                      (focus)="focus(1,undefiend)" (blur)="blur()" [(ngModel)]="project.assignedUser" name="assignedTo"
                      #assignTo="ngModel" (keyup)="FilterAssignTo()" (change)="ValidateAssignTo()" matInput
                      [matAutocomplete]="autoassign" required>
                    <mat-autocomplete #autoassign="matAutocomplete" [displayWith]="displayFn.bind(this)"
                      (optionSelected)='selectionChanged($event.option)'>
                      <mat-option *ngFor="let option of Users" [value]="option.uniqueid">
                        {{option.firstName + ' ' + option.lastName}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error>
                      *You must assign a Business Affairs member before sending this to Rightsline
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 1 }" id="1">
                    <div>Once the project memo has been approved and submitted,
                      this will signify which Business Affairs team member has been assigned to the project memo.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Send Copies To -->
            <div class="form-group"
              [ngClass]="{'active': id === 2,'error' : (f.submitted || cc.touched) && (!cc.valid || ccIsInvalid) }"
              id="2">
              <div class="row align-items-start">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" (click)="focus(2, cc);">
                  <mat-form-field
                    class="example-full-width sign-input-2 sign-input-3 wrapper-padding multiple-email-own"
                    floatLabel="always">
                    <div class="attachment-section-1">
                      <ul class="d-list-item attachment-items-list list-unstyled">
                        <li *ngFor="let p of CCList; let ind = index">
                          <div class="attachment-item">
                            <p>{{p.name ? p.name : p.email}}
                              <span *ngIf="p.name">{{ '('+ p.email + ')'}}</span>
                            </p>
                            <img (click)="removeFromCCList(ind)" src="../assets/images/close-icon.png"
                              class="close-icon">
                          </div>
                        </li>
                        <li class="simple-input">
                          <!-- <input matInput > -->
                          <div>
                            <mat-label class="label-own mat-form-field-label">Send Copies To</mat-label>
                            <!-- onkeypress="this.style.width = ((this.value.length + 1) * 10) + 'px';" style="width: 10px;"  -->
                            <input id="ccinput" type="text" matInput [matAutocomplete]="auto" [(ngModel)]="project.cc"
                              [ngClass]="{'d-none': !project.cc && id !== 2}" autocomplete="on"
                              (keyup)="(project.cc && project.cc.length > 1 && searchPeopleEmail()); (($event.code === 'Enter' || $event.code === 'Comma') && project.cc && addEmailToList())"
                              name="cc" #cc="ngModel" (focus)="focus(2,undefiend) && SaveProgress()"
                              (blur)="blur(); sendCopiesBlur();" email>
                          </div>
                          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getPosts($event.option)'>
                            <mat-option class="multi-email-option" *ngFor="let option of CCSuggestions"
                              [value]="option.email">
                              <strong style="font-size: 14px;">
                                {{option.name}}
                              </strong>
                              <div style="font-size: 12px;opacity: 0.8;">
                                {{option.email}}
                              </div>
                            </mat-option>
                          </mat-autocomplete>
                        </li>
                      </ul>
                    </div>
                    <mat-error *ngIf="!ccIsInvalid && !cc.valid">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                  <span class="mat-error outer-error" *ngIf="ccIsInvalid">
                    *One or more provided values is not a valid email address
                  </span>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 2 }" id="2">
                    <div>Make sure to CC others who need to be in the know:</div>
                    <ul class="tooltip-items list-unstyled">
                      <li>Department heads</li>
                      <li>Other relevant personnel</li>
                    </ul>
                    <!-- <div class="pb-3">Enter their email addresses here.</div> -->
                    <div><span>Tip</span> : <i>For Participant Media personnel you can
                        also start typing their name and select from existing matches.</i> </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Project Name -->
            <div class="form-group"
              [ngClass]="{'active': id === 3, 'error' : (f.submitted || projectName.touched) && !projectName.valid }"
              id="3">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      [(ngModel)]="project.projectName" name="projectName" #projectName="ngModel" required
                      placeholder="Project Name *" maxlength="10000" (focus)="focus(3,undefiend)" (blur)="blur()"
                      (keyup)="SaveProgress()"></textarea>
                    <mat-error>
                      *Please tell us the project's name
                    </mat-error>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.projectName) ? project.projectName.length : 0) | number }} /
                      {{ 10000 | number}}</div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 3 }" id="3">
                    <div>Enter a description of what initiative / campaign /
                      budget this project memo connects to and will be funded by. </div>
                    <div><span>e.g.</span> : <div>"Social Impact – The Price of Free" or "Awards Budget"</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group"
              [ngClass]="{'active': id === 4,'error' : (f.submitted || catalog.touched) && !catalog.valid}" id="4">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="sign-input-2" floatLabel="always">
                    <mat-label>Catalog *</mat-label>
                    <input type="text" placeholder="" (change)="ValidateCatalog($event.target.value)"
                      (keyup)="FilterCatalogList($event.target.value)" name="catalog" (focus)="focus(4,undefiend)" (blur)="blur()"
                      [(ngModel)]="project.catalog" #catalog="ngModel" matInput [matAutocomplete]="autoa2" required>
                    <mat-autocomplete #autoa2="matAutocomplete" [displayWith]="displayFn.bind(this)"
                      (optionSelected)='setCatalog($event) && SaveProgress()'>
                      <mat-option *ngFor="let cat of CatalogList" [value]="cat.catalogName">
                        {{cat.catalogName}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error>
                      *Please select a Catalog assignment, if you don’t see what you are looking for contact Business
                      Affairs.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 4 }" id="4">
                    <div>This field relates to intellectual property. <br>
                      If this project is related to a Participant film or a specific piece of content, enter the name
                      here. <br>
                      If not related to content, enter "NON-SPECIFIC PROJECT".
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" [ngClass]="{
                          'active': id === 5,
                          'error' : (f.submitted || pickerEnd.touched || pickerStart.touched) && (!project.effectiveDate || !project.expirationDate),
                          'disabled' : formDisabled}" id="5">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" (mouseleave)="blur()">
                  <div class="date-filter">
                    <div class="filter-items ">
                      <span class="filter-p">
                        Effective Dates *
                      </span>
                      <div class="date-picker-wrapper">
                        <div class="date-selection right-arrow col-6 d-flex justify-content-center">
                          <div class="cursor" (click)="pickerStart.open()">
                            <img src="assets/images/cal-icon.png" class='calender-icon'>
                          </div>
                          <mat-form-field class="example-full-width cursor" floatLabel="never">
                            <input class="cursor" matInput (dateChange)="SaveProgress()" readonly
                              [max]="project.expirationDate" [ngClass]="{ 'input-border' : formDisabled }"
                              [value]="project.effectiveDate" [(ngModel)]="project.effectiveDate"
                              (click)="pickerStart.open()" name="effectiveDate" #effectiveDate="ngModel"
                              (focus)="pickerStart.open(); focus(5,undefiend)" [matDatepicker]="pickerStart" placeholder=""
                              required>
                            <mat-datepicker #pickerStart></mat-datepicker>
                          </mat-form-field>
                          <div class="material-icon-section">
                            <mat-icon class="cursor" aria-hidden="false" aria-label="Example home icon"
                              (click)="addDate('effectiveDate', -1)">keyboard_arrow_left</mat-icon>
                            <mat-icon class="cursor" aria-hidden="false" aria-label="Example home icon"
                              (click)="addDate('effectiveDate', 1)">keyboard_arrow_right</mat-icon>
                          </div>
                        </div>
                        <div class="cursor date-selection col-6 d-flex justify-content-center align-items-end">
                          <mat-form-field class="example-full-width" floatLabel="never">
                            <input class="cursor" matInput (dateChange)="SaveProgress()" readonly
                              [min]="project.effectiveDate" [ngClass]="{ 'input-border' : formDisabled }"
                              [(ngModel)]="project.expirationDate" (click)="pickerEnd.open()"
                              [value]="project.expirationDate" name="expirationDate" #expirationDate="ngModel"
                              (focus)="focus(5,undefiend) && pickerEnd.open()" [matDatepicker]="pickerEnd" placeholder=""
                              required>
                            <mat-datepicker #pickerEnd></mat-datepicker>
                          </mat-form-field>
                          <div class="material-icon-section">
                            <mat-icon class="cursor" aria-hidden="false" aria-label="Example home icon"
                              (click)="addDate('expirationDate', -1)">keyboard_arrow_left</mat-icon>
                            <mat-icon class="cursor" aria-hidden="false" aria-label="Example home icon"
                              (click)="addDate('expirationDate', 1)">keyboard_arrow_right</mat-icon>
                          </div>
                        </div>
                      </div>
                    </div>
                    <mat-error
                      *ngIf="(f.submitted || pickerEnd.touched || pickerStart.touched)  && (!project.effectiveDate || !project.expirationDate)">
                      *Please provide expected effective and expiration dates
                    </mat-error>
                  </div>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 5 }" id="5">
                    <div>Be sure to enter both the anticipated start date and the end dates here.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="general-form mt-2">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="pt-3 heading-5">CONTRACTOR</h5>
          </div>
          <div class="pt-3">
          
            <div class="form-group"
              [ngClass]="{'active': id === 6,'error' : (f.submitted || contractorCompanyName.touched) && !contractorCompanyName.valid}" id="6">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2 input-icon" floatLabel="always">
                      <!-- <mat-label>Catalog *</mat-label> -->
                    <input autocomplete="off" type="text" (change)="validateCompanyName()" placeholder="Contractor Name*"
                      name="contractorCompanyName" (focus)="focus(6,undefiend)" (blur)="blur()"
                      [(ngModel)]="project.contractorCompanyName" #contractorCompanyName="ngModel"
                      (keyup)="FilterCompany($event.target.value)" matInput [matAutocomplete]="autoa" required>
                    <mat-autocomplete #autoa="matAutocomplete" [displayWith]="displayFn.bind(this)"
                      (optionSelected)='compantSelected($event.option)'>
                      <mat-option *ngFor="let option of ContractorsListOptions" [value]="option.contactName">
                        {{option.contactName}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error>
                      *Please identify your contractor
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 6 }" id="6">
                    <div>Contractors listed here are those available in the Rightsline system. <br>
                      If you don’t see the name you are looking for then, please contact Business Affairs.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="7"
              [ngClass]="{'active': id === 7, 'error' : (f.submitted || contractorContactName.touched) && !contractorContactName.valid }">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <input matInput autocomplete="on" (keyup)="SaveProgress()" placeholder="Primary Contact Name *"
                      [(ngModel)]="project.contractorContactName" (focus)="focus(7,undefiend)" (blur)="blur()" name="name"
                      #contractorContactName="ngModel" maxlength="1000" required>
                    <mat-error>
                      *Please identify your primary contact with this contractor for this Project Memo
                    </mat-error>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.contractorContactName) ? project.contractorContactName.length : 0) | number}}
                      / {{ 1000 | number}}
                    </div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 7 }" id="7">
                    <div>Enter the name of the contact person for the contractor.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="8"
              [ngClass]="{'active': id === 8, 'error' : (f.submitted || contractorContactEmail.touched) && !contractorContactEmail.valid }">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <input autocomplete="on" matInput (keyup)="SaveProgress()" placeholder="Primary Contact Email *"
                      [(ngModel)]="project.contractorContactEmail" (focus)="focus(8,undefiend)" (blur)="blur()"
                      name="contractorContactEmail" #contractorContactEmail="ngModel" required email>
                    <mat-error>
                      *Please provide the email address for this contractor
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 8 }" id="8">
                    <div>List complete e-mail address here.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group phone-valid"
              [ngClass]="{'disabled' : formDisabled,'active': id === 9, 'error' : (f.submitted || contractorContactPhone.touched) && !contractorContactPhone.valid }"
              id="9">
              <div class="row">
                <div  style="position:relative" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="col-sm-3">
                     
                        
                      </div>
                    <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                      <div class="item-section">
                         
                            <div class="col-sm-9 item" style="position:relative">
                                <input style="position:absolute; left:70px; top:1px; width:150px;" matInput autocomplete="on" (keyup)="SaveProgress()" placeholder="Primary Contact Phone *"
                                onkeypress="return isNumberKey(event)" [ngModel]="project.contractorContactPhone|tel:'hh': codeSelected.code" (ngModelChange)="project.contractorContactPhone=$event"
                                (focus)="focus(9,undefiend)" (blur)="blur()" name="contractorContactPhone" #contractorContactPhone="ngModel"
                                minlength="8" maxlength="15" required >
                              
                            </div>
                            <div class="item">
                                <div class="firstitem">
                                    <img [src]="this.codeSelected.flag" style="height: 17px;
                                    width: 27px;"/>
                                    <!-- {{codeSelected.code}} -->
                                </div>
                                 <div class="seconditem">
                              
                                    <mat-select [(ngModel)]="codeSelected.code" class="own-flag" (selectionChange)="onCountryChange($event.value)" [ngModelOptions]="{standalone: true}">
                                        <div style="width:100%;top:95px;border:1px solid #ccc;position:relative;"></div> 
                                      <mat-option [value]="list" *ngFor="let list of countryCodeOptions; let i=index" name="sel" class="own-style">
                                          <img [src]="list.flag" style="width: 28px; margin-right:8px; height: 20px;"/>{{list.label}}</mat-option>
                                      
                                        </mat-select> 
                                 </div>
                                 
                              </div>
                      </div>
                      <mat-error>
                          *Please provide the phone number for this contractor
                        </mat-error>
                        </mat-form-field>
                        <p *ngIf="!contractorContactPhone.hasError('required') && !contractorContactPhone.hasError('minlength') && ((userRole == 'Standard' &&  project.pmStatus == 'Draft')||(userRole != 'Standard' &&  project.pmStatus != 'Accepted')) && isPhoneValid == 'false'" style="color: #F47B20;
                        font-size: 11px; margin-top: -16px;">
                          <sup>*</sup>Please enter correct phone number
                        </p>
                     
                    
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 9 }" id="9">
                    <div>List complete phone number here.
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group pb-5" id="10"
              [ngClass]="{'disabled' : formDisabled,
                          'active': id === 10, 'error' : (f.submitted || contractorWorkOnsite.touched) && !contractorWorkOnsite.valid}">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" (mouseenter)="focus(10,undefiend)" (mouseleave)="blur()">
                  <div class="option-radio">
                    <p class="filter-font">Will Contractor Work Onsite? *</p>
                    <mat-radio-group (focus)="focus(10,undefiend)" (change)="SaveProgress()" aria-label="Select an option"
                      [(ngModel)]="project.contractorWorkOnsite" name="contractorWorkOnsite"
                      #contractorWorkOnsite="ngModel" required>
                      <mat-radio-button (focus)="focus(10,undefiend)" [value]="true"> Yes </mat-radio-button>
                      <mat-radio-button (focus)="focus(10,undefiend)" [value]="false"> No </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <mat-error *ngIf="(f.submitted || contractorWorkOnsite.touched) && !contractorWorkOnsite.valid">
                    *Please identify if the contractor will be doing work onsite or not
                  </mat-error>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 10 }" id="10">
                    <div>This is a field that we need to ascertain proper employment classification.
                      If the Contractor is needed to work onsite at the PM office, please indicate here.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="11"
              [ngClass]="{'disabled' : formDisabled,
                          'active': id === 11,'error' : (f.submitted || contractorInsuranceGeneral.touched) && !contractorInsuranceGeneral.valid }">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" (mouseenter)="focus(11,undefiend)" (mouseleave)="blur()">
                  <div class="option-radio">
                    <p class="filter-font">Contractor Insurance</p>
                    <ul class="list-unstyled">
                      <li>
                        <mat-checkbox (focus)="focus(11,undefiend)" (click)="SaveProgress(); focus(11,undefiend)"
                          [(ngModel)]="project.contractorInsuranceGeneral" name="contractorInsuranceGeneral"
                          #contractorInsuranceGeneral="ngModel">
                          GENERAL LIABILITY</mat-checkbox>
                      </li>
                      <li>
                        <mat-checkbox (focus)="focus(11,undefiend)" (click)="SaveProgress(); focus(11,undefiend)"
                          [(ngModel)]="project.contractorInsuranceEnO" name="contractorInsuranceEnO"
                          #contractorInsuranceEnO="ngModel">
                          E & O</mat-checkbox>
                      </li>
                      <li>
                        <mat-checkbox (focus)="focus(11,undefiend)" (click)="SaveProgress(); focus(11,undefiend)"
                          [(ngModel)]="project.contractorInsuranceWorkersComp" name="contractorInsuranceWorkersComp "
                          #contractorInsuranceWorkersComp="ngModel">
                          WORKER'S COMP</mat-checkbox>
                      </li>
                      <li>
                        <mat-checkbox (focus)="focus(11,undefiend)" (click)="SaveProgress(); focus(11,undefiend)"
                          [(ngModel)]="project.contractorInsuranceProduction" name="contractorInsuranceProduction"
                          #contractorInsuranceProduction="ngModel">
                          PRODUCATION INSURANCE</mat-checkbox>
                      </li>
                    </ul>
                  </div>

                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 11 }" id="11">
                    <div>Participant requires that all Contractors carry their own business insurance.
                      Please indicate that Contractor is fully- insured here.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="general-form mt-2">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="pt-3 heading-5">SERVICES / DELIVERABLES / PAYMENT</h5>
          </div>
          <div class="pt-3">
            <div class="form-group" id="12"
              [ngClass]="{'active': id === 12,'error' : (f.submitted || contractorServices.touched) && !contractorServices.valid}">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      (keyup)="SaveProgress()" placeholder="Contractor's Services *"
                      [(ngModel)]="project.contractorServices" (focus)="focus(12,undefiend)" (blur)="blur()"
                      name="contractorServices" #contractorServices="ngModel" maxlength="10000" required></textarea>
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error>
                      *Please detail what services the contractor will be providing
                    </mat-error>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.contractorServices) ? project.contractorServices.length : 0) | number}} /
                      {{ 10000 | number}}</div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 12 }" id="12">
                    <div>Please be as specific as possible—the services should be filling a need/competency that PM
                      cannot otherwise fulfill internally.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="13"
              [ngClass]="{'active': id === 13, 'error' : (f.submitted || approxHours.touched) && !approxHours.valid}">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      (keyup)="SaveProgress()" placeholder="Approximate Hours of Work *"
                      [(ngModel)]="project.approxHours" (focus)="focus(13,undefiend)" (blur)="blur()" name="approxHours"
                      #approxHours="ngModel" required></textarea>
                    <mat-error>
                      *Please provide an approximate number of hours the contractor will work
                    </mat-error>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.approxHours) ? project.approxHours.length : 0)| number}} /
                      {{ 10000 | number}}</div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 13 }" id="13">
                    <div>Provide an estimate of the number of hours that the contractor will work.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="14"
              [ngClass]="{'active': id === 14, 'error' : (f.submitted || deliverablesDescription.touched) && !deliverablesDescription.valid}">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      (keyup)="SaveProgress()" placeholder="Deliverables *"
                      [(ngModel)]="project.deliverablesDescription" (focus)="focus(14,undefiend)" (blur)="blur()"
                      name="deliverablesDescription" #deliverablesDescription="ngModel" required></textarea>
                    <mat-error>
                      *Please provide a detailed description of the deliverables / content to be provided
                    </mat-error>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.deliverablesDescription) ? project.deliverablesDescription.length : 0)| number}}
                      /
                      {{ 10000 | number}}</div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 14 }" id="14">
                    <div>Please be as specific as possible about the deliverables / content that
                      Contractor is expected to create and deliver as a part of this agreement.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="15"
              [ngClass]="{'active': id === 15,'error' : (f.submitted || deliverySchedule.touched) && !deliverySchedule.valid}">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      (keyup)="SaveProgress()" placeholder="Delivery Schedule *" [(ngModel)]="project.deliverySchedule"
                      (focus)="focus(15,undefiend)" (blur)="blur()" name="deliverySchedule" #deliverySchedule="ngModel"
                      required></textarea>
                    <mat-error>
                      *Please provide expected delivery dates with as much detail as possible
                    </mat-error>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.deliverySchedule) ? project.deliverySchedule.length : 0)| number}} /
                      {{ 10000 | number}}</div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 15 }" id="15">
                    <div>
                      Please be as specific as possible about the expected delivery
                      dates (including dates for PM feedback and # of rounds).
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group"
              [ngClass]="{'active': id === 16, 'error' : (f.submitted || totalFees.touched) && !totalFees.valid }"
              id="16">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      (keyup)="SaveProgress()" (focus)="focus(16,undefiend)" (blur)="blur()" placeholder="Total Fee *"
                      [(ngModel)]="project.totalFees" name="totalFees" #totalFees="ngModel" required></textarea>
                    <mat-error>
                      *Please provide the overall fee that will be paid
                    </mat-error>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.totalFees) ? project.totalFees.length : 0) | number}} /
                      {{ 10000 | number}}
                    </div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 16 }" id="16">
                    <div>Please enter the overall fee that will be paid in connection with this agreement.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="17"
              [ngClass]="{'active': id === 17, 'error' : (f.submitted || paymentSchedule.touched) && !paymentSchedule.valid}">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      (keyup)="SaveProgress()" placeholder="Payment Schedule *" [(ngModel)]="project.paymentSchedule"
                      (focus)="focus(17,undefiend)" (blur)="blur()" name="paymentSchedule" #paymentSchedule="ngModel"
                      required></textarea>
                    <mat-error>
                      *Please provide details of the preferred invoice schedule.
                    </mat-error>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.paymentSchedule) ? project.paymentSchedule.length : 0) | number}} /
                      {{ 10000 | number}} </div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 17 }" id="17">
                    <div>Please list the preferred invoice schedule here (and note that Participant’s policy
                      is to have payments tied to receipt of deliverables whenever possible).
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="general-form mt-2">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="heading-5 pt-3">Content</h5>
          </div>
          <div class="pt-4">
            <div class="form-group" id="18"
              [ngClass]="{'active': id === 18, 'error' : (f.submitted || ownershipOfDeliverables.touched) && !ownershipOfDeliverables.valid }">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      (keyup)="SaveProgress()" (focus)="focus(18,undefiend)" (blur)="blur()" maxlength="10000"
                      placeholder="Ownership of Deliverables" [(ngModel)]="project.ownershipOfDeliverables"
                      name="ownershipOfDeliverables" #ownershipOfDeliverables="ngModel"></textarea>
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error>
                      *Please identify your contractor
                    </mat-error>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.ownershipOfDeliverables) ? project.ownershipOfDeliverables.length : 0)| number}}
                      /
                      {{ 10000 | number}}</div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 18 }" id="18">
                    <div>Please indicate if this agreement is intended to be a work made
                      for hire or if the final product will not be owned by Participant Media.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="19"
              [ngClass]="{'active': id === 19,'error' : (f.submitted || rightsLicensedByContractor.touched) && !rightsLicensedByContractor.valid }">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      (keyup)="SaveProgress()" (focus)="focus(19,undefiend)" (blur)="blur()"
                      placeholder="Rights Licensed by Contractor (if any)"
                      [(ngModel)]="project.rightsLicensedByContractor" name="rightsLicensedByContractor"
                      #rightsLicensedByContractor="ngModel"></textarea>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.rightsLicensedByContractor) ? project.rightsLicensedByContractor.length : 0) | number}}
                      / {{ 10000 | number}} </div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 19 }" id="19">
                    <div>If Contractor is incorporating third-party materials into the deliverables,
                      please indicate what rights the Contractor is licensing as part of the work product.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="20"
              [ngClass]="{'active': id === 20, 'error' : (f.submitted || intendedUseByContractor.touched) && !intendedUseByContractor.valid }">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      (keyup)="SaveProgress()" (focus)="focus(20,undefiend)" (blur)="blur()"
                      placeholder="Intended Use by Contractor" [(ngModel)]="project.intendedUseByContractor"
                      name="intendedUseByContractor" #intendedUseByContractor="ngModel"></textarea>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.intendedUseByContractor) ? project.intendedUseByContractor.length : 0) | number}}
                      /
                      {{ 10000 | number}} </div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 20 }" id="20">
                    <div>Are we giving Contractor permission to
                      use the deliverables? If so, please indicate how they intend to use it.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'active': id === 21 }" id="21">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      (keyup)="SaveProgress()" (focus)="focus(21,undefiend)" (blur)="blur()"
                      placeholder="Participant’s Intended Use of Deliverables"
                      [(ngModel)]="project.intendedUseByParticipant" name="intendedUseByParticipant"
                      #intendedUseByParticipant="ngModel"></textarea>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.intendedUseByParticipant) ? project.intendedUseByParticipant.length : 0)| number}}
                      /
                      {{ 10000 | number}} </div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 21 }" id="21">
                    <div>Please indicate what the intended use is for the deliverables. <br>
                    </div>
                    <div><span>e.g.</span> : <div> is it going on the social impact campaign site?
                        Is it for internal use only? Will it be displayed publicly at an event? Etc.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'active': id === 22 }" id="22">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      (keyup)="SaveProgress()" (focus)="focus(22,undefiend)" (blur)="blur()"
                      placeholder="Assets Provided by Participant" [(ngModel)]="project.assetsProvidedByParticipant"
                      name="assetsProvidedByParticipant" #assetsProvidedByParticipant="ngModel"></textarea>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ ((project && project.assetsProvidedByParticipant) ? project.assetsProvidedByParticipant.length : 0) | number}}
                      / {{ 10000 | number}}</div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 22 }" id="22">
                    <div>Please list what the primary assets are that Participant will provide.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'active': id === 23 }" id="23">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <mat-form-field class="example-full-width sign-input-2" floatLabel="always">
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
                      (keyup)="SaveProgress()" (focus)="focus(23,undefiend)" (blur)="blur()"
                      placeholder="Assets Provided by Contractor" [(ngModel)]="project.assetsProvidedByContractor"
                      name="assetsProvidedByContractor" #assetsProvidedByContractor="ngModel"></textarea>
                    <div class="project-memo-count text-color font-12 cursor">
                      {{ (project && project.assetsProvidedByContractor) ? project.assetsProvidedByContractor.length : 0 | number }}
                      / {{ 10000 | number}} </div>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 23 }" id="23">
                    <div>Please list any assets that Contractor provides as a part of this deal.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mb-3" [ngClass]="{'active': id === 24, 'disabled' : formDisabled }" id="24">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" (mouseenter)="focus(24,undefiend)" (mouseleave)="blur()">
                  <div class="option-radio">
                    <p class="filter-font">Third Party Assets to be Included</p>
                    <mat-radio-group (focus)="focus(24,undefiend)" aria-label="Select an option"
                      [(ngModel)]="project.thirdPartyAssets" name="thirdPartyAssets" #thirdPartyAssets="ngModel">
                      <mat-radio-button (focus)="focus(24,undefiend)" (click)="SaveProgress()" [value]="true"> Yes
                      </mat-radio-button>
                      <mat-radio-button (focus)="focus(24,undefiend)" (click)="SaveProgress()" [value]="false"> No
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 24 }" id="24">
                    <div>If Contractor will be using third-party materials as a part of their work, please indicate
                      here. <br>
                    </div>
                    <div><span>e.g.</span> : <div>stock footage, clip licenses, etc.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mt-3"
              [ngClass]="{'active': id === 25, 'error' : showFileSizeError, 'disabled' : formDisabled }" id="25">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" (mouseenter)="focus(25,undefiend)" (click)="focus(25,undefiend)"
                  (mouseleave)="blur()">
                  <div class="option-radio download-attachments">
                    <p class="filter-font">Attachments</p>
                    <div class="attachment-section">
                      <ul class="d-list-item attachment-items-list list-unstyled">
                        <li *ngFor="let f of attachments">
                          <div class="attachment-item">
                            <p>
                              <span class="downloadItem cursor" (click)="!f.NotLoaded && downloadSingleFile(f)">
                                {{f.file}}
                              </span>
                            </p>
                            <span (click)="removeAttachments(f)">
                              <img class="cursor" *ngIf="!f.NotLoaded" src="../assets/images/close-icon.png"
                                class="close-icon">
                            </span>
                            <mat-spinner *ngIf="f.NotLoaded" diameter="18" class="close-icon"></mat-spinner>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class=" white-btn-main d-flex justify-content-between row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 mb-2">
                        <input type="file" multiple class="d-none" id="fileInput" (change)="uploadAttachment($event)"
                          #fileLabel>
                        <button [disabled]="formDisabled" (focus)="focus(25,undefiend)" (blur)="blur()" type="button"
                          (click)="fileLabel.click(); focus(25,undefiend)" mat-raised-button color=""
                          class="print-submit-btn font-weight-600  white-btn">
                          ADD ATTACHMENTS</button>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5">
                        <span (click)="downLoadFiles(); focus(25,undefiend)">
                          <button (focus)="focus(25,undefiend)" (blur)="blur()" type="button"
                            *ngIf="attachments && attachments.length > 0" mat-raised-button color=""
                            class="print-submit-btn font-weight-600  white-btn">
                            DOWNLOAD ALL</button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <mat-error *ngIf="showFileSizeError">
                    Each file must be no more than 25mb.
                  </mat-error>
                </div>
                <div class="col-6">
                  <div class="tooltip-box py-2 px-3" [ngClass]="{'active': id === 25 }" id="25">
                    <div>Wherever possible, please ask for a written proposal from the Contractor that describes the
                      scope of their services. Our preference is that it
                      be on their own letterhead and be in their own words, and perhaps
                      referencing similar work that they’ve done for other clients. <br>
                      Attach the proposal here.<br>
                      Each file must be no more than 25mb.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class=" white-btn-main pt-4 d-flex justify-content-between row">
          <div *ngIf="userRole == 'Standard'" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <button *ngIf="project.pmStatus == 'Draft'" type="button" (click)="(f.submitted = true); submit()"
              mat-raised-button color="primary"
              class="font-weight-500 bg-color  w-100 sign-btn-size-12 sign-btn">SUBMIT</button>
            <button disabled *ngIf="project.pmStatus == 'Submitted' || project.pmStatus == 'Assigned'" type="button"
              mat-raised-button color="primary"
              class="font-weight-500 bg-color  w-100 sign-btn-size-12 sign-btn">SUBMITTED</button>
            <span *ngIf="project.pmStatus == 'Accepted'" (click)="addAddendum()">
              <button type="button" mat-raised-button color="primary"
                class="font-weight-500 bg-color  w-100 sign-btn-size-12 sign-btn">ADDENDUM</button>
            </span>
          </div>
          <div *ngIf="userRole !== 'Standard'" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <button *ngIf="project.pmStatus == 'Draft'" disabled type="button" mat-raised-button color="primary"
              class="font-weight-500 bg-color  w-100 sign-btn-size-12 sign-btn">SUBMIT</button>
            <button *ngIf="project.pmStatus == 'Submitted' || project.pmStatus == 'Assigned'" type="button"
              mat-raised-button color="primary" (click)="(f.submitted = true); submit()"
              class="font-weight-500 bg-color  w-100 sign-btn-size-12 sign-btn">SUBMIT</button>
            <button *ngIf="project.pmStatus == 'Accepted'" disabled type="button" mat-raised-button color="primary"
              class="font-weight-500 bg-color  w-100 sign-btn-size-12 sign-btn">ACCEPTED</button>
          </div>
          <div *ngIf="(project.pmStatus !== 'Accepted')" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-4"
            (click)="openDeleteModal()">
            <button type="button" mat-raised-button color="" class="w-100 white-btn">
              DELETE PROJECT MEMO</button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
<div class="modal confirmation-modal" id="confirmationModal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <input class="firstFocus" type="text">
      <!-- Modal body -->
      <div class="modal-body font-14">
        <div class="pb-3 text-color font-16 font-weight-500">{{confirmationTitle}}</div>
        <div class="">{{confirmationMessage}}</div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button id="confirmation-modal-cancle" type="button" mat-raised-button color=""
          class="w-50 white-btn cancel-btn modal-cancel">CANCEL</button>
        <button mat-raised-button color="primary" class="w-50 modal-confirm"
          (click)="confirm()">{{ btnTitle ? btnTitle : 'CONFIRM' }}</button>
      </div>
    </div>
  </div>
</div>
<app-print-memo *ngIf="showPrintModal" [project]="project" [projectId]="projectId" [codeSelected]="codeSelected"
  (downLoadFiles)="downLoadFiles($event)"></app-print-memo>