.mat-select-arrow-wrapper{
    position: absolute !important;
    top: -29px !important;
    left: 70px !important;
}
.mat-form-field-infix span {
    display: none!important;
}
.item
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
  
}
.item-section
{
    display:flex;
    flex-direction: column;
}
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option span {
        margin-left: 31px;
    width: 200px!important
}
