<section id="mydashboard" class="dashboard-section">

  <nav class="navbar-bottam">
    <div class="container-fluid d-flex justify-content-between">
      <div class="position-relative">
        <div (click)="addNewUser()" class="d-inline-block cursor">
          <button mat-raised-button color="primary" class="btn-icon ml-0 mr-3">
            <img src="../assets/images/add-user-w.png" class="icon"> <span class="text">USER</span></button>
        </div>
      </div>
      <div class="input-group search-btn space-left ">
        <div style="position:relative;">
          <input [(ngModel)]="filters.searchText" maxlength="250"
            (keyup)="$event.code === 'Enter' && filters.searchText && search()" type="text"
            class="form-control own-input-outline input-search light-black font-15" placeholder="Search">
        </div>
        <div class="input-group-btn search-icon" [ngClass]="{ 'notactive' : !filters.searchText  }">
          <button *ngIf="!isTestSearchActive" class="btn btn-default " [disabled]="!filters.searchText"
            (click)="search()" type="button">
            <img src="../assets/images/search.png" class="search-icon-img">
          </button>
          <button *ngIf="isTestSearchActive" class="btn btn-default" (click)="(filters.searchText = ''); search()"
            type="button">
            <img src="../assets/images/search-close-icon.png" class="search-icon-img">
          </button>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid own-dashboard-section form-own">
    <section class="wrapper-section">
      <div class="data-border-md">
        <div class="date-selection-2 filter-date-section "
          [ngClass]="{ 'error': filters.type && filters.type.length == 0 }">
          <div class="filter-p">
            <span> Filter by Type</span>
          </div>
          <mat-form-field floatLabel="always" class="custom-txt-select-wrapper">
            <div class="custom-txt-select">Showing {{filters.type.length}} of {{userTypes.length}}</div>
            <mat-select #firstSelect multiple class="own-select">
              <mat-option class="own-select-option remove-default-checkbox" *ngFor="let item of userTypes"
                [value]="item.value">
                <mat-checkbox (click)="setFiltersValue()" [(ngModel)]="item.selected" class="own-select-checkbox">
                  {{ item.display }}
                </mat-checkbox>
              </mat-option>
              <mat-option class="done-btn own-select-option">
                <div (click)="closeDD()" class="text-color">
                  DONE
                </div>
              </mat-option>
            </mat-select>
            <span class="mat-error" *ngIf="filters.type.length == 0">
              *Select at least one option
            </span>
          </mat-form-field>
        </div>
      </div>
      <div class="data-border-md">
        <div class="date-selection-2 filter-date-section"
          [ngClass]="{ 'error': filters.status && filters.status.length == 0 }">
          <div class="filter-p">
            <span> Filter by Status</span>
          </div>
          <mat-form-field floatLabel="always" class="custom-txt-select-wrapper">
            <div class="custom-txt-select">Showing {{filters.status.length}} of {{usersStatus.length}}</div>
            <mat-select #secondSelect multiple class="own-select">
              <mat-option class="own-select-option remove-default-checkbox" *ngFor="let item of usersStatus"
                selected="true" [value]="item.value">
                <mat-checkbox (click)="setFiltersValue()" [(ngModel)]="item.selected" class="own-select-checkbox">
                  {{ item.display }}
                </mat-checkbox>
              </mat-option>
              <mat-option class="done-btn own-select-option">
                <div (click)="closeDD()" class="text-color">
                  DONE
                </div>
              </mat-option>
            </mat-select>
            <span class="mat-error" *ngIf="filters.status.length == 0">
              *Select at least one option
            </span>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="!loadingFilters && !(filters.status.length === 2 && filters.type.length === 2 && !filters.searchText)"
        class="data-border-sm text-center mb-3">
        <div class="date-selection-2 d-flex justify-content-center cursor reset-btn">
          <button id="usersResetBTN" type="button" mat-raised-button color="" (click)="reset()"
            class="w-100 print-submit-btn attachment-btn white-btn">
            <div class="filter-p filter-reset-btn">
              <div class="font-weight-500">
                RESET
              </div>
              <div class="font-weight-500">
                FILTERS
              </div>
            </div>
          </button>
        </div>
      </div>
    </section>
    <section class="own-table-dashboard mb-3" *ngIf="usersList && usersList.length > 0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th [ngClass]="{'active': filters.sort == 'firstName' }" scope="col" (click)="sort('firstName')">First
                Name<i *ngIf="filters.sort == 'firstName'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <th [ngClass]="{'active': filters.sort == 'lastName' }" scope="col" (click)="sort('lastName')">Last Name<i
                  *ngIf="filters.sort == 'lastName'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <th [ngClass]="{'active': filters.sort == 'email' }" scope="col" (click)="sort('email')">Email<i
                  *ngIf="filters.sort == 'email'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <th [ngClass]="{'active': filters.sort == 'type' }" scope="col" (click)="sort('type')">Type<i
                  *ngIf="filters.sort == 'type'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <th [ngClass]="{'active': filters.sort == 'status' }" scope="col" (click)="sort('status')">Status<i
                  *ngIf="filters.sort == 'status'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
              <th [ngClass]="{'active': filters.sort == 'last_login' }" scope="col" (click)="sort('last_login')">Last
                Login<i *ngIf="filters.sort == 'last_login'" class='fas icon-space'
                  [ngClass]="{'fa-arrow-up': filters.order == 'asc', 'fa-arrow-down': filters.order == 'desc'}"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usersList" (click)="update(user)">
              <td>{{user.firstName}}</td>
              <td><span *ngIf="user.lastName">{{user.lastName}}</span></td>
              <td>{{user.email}}</td>
              <td>{{user.type}}</td>
              <td>{{user.status}}</td>
              <td><span *ngIf="user.last_login">
                  {{user.last_login | date : 'MM/dd/yy'}} at {{user.last_login | date : 'shortTime'}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="totalUsers >= 10" class="d-flex flex-wrap align-items-center justify-content-end">
        <div class="mat-page-label-own font-12 light-black">Rows per page : </div>
        <mat-paginator class="own-pagination remove-pagination-label hide-underline text-center"
          (page)="pageChanged($event)" [length]="totalUsers" [pageSize]="filters.limit" [pageIndex]="pageIndex"
          [pageSizeOptions]="[5, 10, 20, 30, 50, 70, 100]">
        </mat-paginator>
      </div>
    </section>
    <app-welcome-page [hasFilters]="!(filters.status.length === 2 && filters.type.length === 2)"
      *ngIf="!(usersList && usersList.length > 0) && !loading" (clear)="reset()"></app-welcome-page>
    <app-spinner *ngIf="loading"></app-spinner>
  </div>
  <app-user-account [user]="user" *ngIf="displayForm" [isProfile]="isProfile" [rightlineUserList] ="rightlineUserList" [rightlineListOptions]="rightlineListOptions" (closes)="ModelClosed($event)" (addNewUser)="addNewUserupdate($event)">
  </app-user-account>
</section>